<h2>Add new map from Wikimedia Commons</h2>
<%= error_messages_for @map %>
<h3>
  <%= @image_title %> <br />
  <%= image_tag @thumbnail_url %>
</h3>
<% if user_signed_in? %>

  <%=  form_tag wikimaps_path, :method => :post do  %>

    <%= hidden_field_tag   :pageid, params[:pageid] %>
    <br />
    <%= submit_tag "Add this map" %>
  <% end %>

<% else %>
  <p>
  This map is not in the Wikimaps Warper yet - to add it, please <%= link_to "log in", new_user_session_path, :class=>"buttonWarper" %> first.
  </p>
<% end %>
