<%- if current_user.provider? %>
<h2><%= t('.header') %></h2>
  <%= t('.no_settings_notice', :provider => current_user.provider_name) %>
<%- else %>

<h2><%= t('.edit_header') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :login, t('.name_label') %><br />
  <%= f.text_field :login, autofocus: true %></div>
  
  <div><%= f.label :description, t('.description_label')  %><br />
  <%= f.text_area :description %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.waiting_confirmation') %>: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i><%= t('.password_label') %></i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i><%= t('.current_password_label') %></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit t('update_button') %></div>
<% end %>

<% end %>

<h3><%= t('.cancel_account_header') %></h3>

<p><%= t('.cancel_account_instructions') %> <br />
 <%= button_to t('.cancel_account_button'), registration_path(resource_name), data: { confirm: t('.cancel_confirm') }, method: :delete %></p>

<%= link_to t('back_link'), :back %>
