<h2><%= t('.header') %></h2>
<div><%= t('.caveat_emptor') %></div> 
<br />
<div><%= t('.sign_up_help') %></div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <% if ENV["HCAPTCHA_SITE_KEY"] %>
    <%= hcaptcha_tags %>
  <% end %>

  <div><%= f.label :login, t('.name_label') %><br />
  <%= f.text_field :login, autofocus: true %></div>

  <div><%= f.label :email, t('.email_label')  %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit t('.sign_up_button') %></div>
<% end %>

<%= render "devise/shared/links" %>
