<p>
  <%= t('devise.mailer.confirmation_instructions.greeting') %> <%= @user.login %>
</p>

<p>
  <%= t('.intro', :site_name => APP_CONFIG['site_name']) %> 
</p>

<p>
  <%= t('devise.mailer.confirmation_instructions.about_site', :site_name => APP_CONFIG['site_name']) %>
</p>

<p>
  <%= t('.click_the_link', :email => @user.email ) %>
</p>

<%= link_to url_for(new_user_session_url), new_user_session_url %>