<h2> <%= t('.header') %></h2>

<%= will_paginate @comments %>
<table class="commentstable">
  <thead>
    <tr>
      <th><%= t('.comment_th') %></th>
      <%= sort_header_tag('commentable_type', :title => t('.comment_type')) %>
      <%= sort_header_tag('user_id', :title => t('.user')) %>
      <%= sort_header_tag('created_at', :title => t('.created')) %>
      <th><%= t('.actions_th') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "comment_detail", :collection => @comments %>
  </tbody>
</table>


<%= will_paginate @comments %>
