<%- if controller_name != 'sessions' %>
  <%= link_to t('.login'), new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'users_registrations' %>
  <%= link_to t('.sign_up'), new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'users_registrations' %>
  <%= link_to t('.forgot_password'), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t('.new_confirmation_instructions'), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('.new_unlock_instructions'), new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
<%- sign_action = "log in"
    if controller_name == "users_registrations"
      sign_action = "sign up"
     end 
%>
     
<div class="omniauth_links">
  <%= t('.social_sign_in', :action => sign_action) %> <br /> 
  <span class="facebook">
    <%= link_to "#{image_tag("facebook_logo.png", width: '25', height: '25')} #{t('.facebook')}".html_safe, omniauth_authorize_path(resource_name, "facebook"), :class=>"facebook" %>
  </span>
  <span class="twitter">
    <%= link_to "#{image_tag("twitter_logo.png", width: '25', height: '25')} #{t('.twitter')}".html_safe, omniauth_authorize_path(resource_name, "twitter"), :class=>"twitter" %>
  </span>
</div>
<% end -%>
