<%= link_to t('back_link'), :back %>

<h2><%= t('.header', :username => @user.login) %></h2>
<p>
  <%= t('.help') %>
</p>
<div class="warper_pagination">
  <div id="search-pagination-top">
    <%=will_paginate @mymaps %>
  </div>
</div>

<table id="map_table" cellpadding="3">
  <thead>
    <tr>
      <th><%= t('map_th') %></th>
      <th><%= t('title_th') %></th>
      <th><%= t('year_th') %></th>
      <th><%= t('last_th') %></th>
      <th><%= t('status_th') %></th>
    </tr>
  </thead>
  <tbody id="results">
    <%= render :partial => 'maps/map', :collection => @mymaps unless @mymaps.nil? %>
  </tbody>
</table>
<div class="warper_pagination">
  <div id="search-pagination-bottom">
    <%= will_paginate @mymaps %>
  </div>
</div>
