<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery("form.edit_map").bind("ajax:success", function(event, data, status, xhr) {
      jQuery("#Edit").html(data);
    });
  });
</script>
<%= form_for(@map, :remote=>true, :html => {:multipart => true}) do |f| %>
 <%= render "shared/error_messages", :target => @map %>      
<div class="column span-12">
    <p>
      <b> <%= t('maps.form.title') %></b><br />
      <%= f.text_field :title %>
    </p>

    <p>
      <b> <%= t('maps.form.desc') %> </b><span class="tiny-text"> <%= t('maps.form.desc_hint') %> </span><br />
      <%= f.text_area(:description, :cols => 30, :rows => 12) %>
    </p>
    <p>
    <b><%= t('maps.form.issue') %></b><span class="tiny-text"> <%= t('maps.form.issue_hint') %><br />
      <%= t('maps.form.issue_hint_2') %> 
      </span><br />
      <%= f.text_field :issue_year %>
    </p>
    <p>
      <b><%= t('maps.form.tags') %></b><span class="tiny-text"> <%= t('maps.form.tags_hint') %></span> <br />
      <%= f.text_field :tag_list %>
    </p>
    <p>
      <br />
      <%= f.select(:map_type, Map.map_type_hash, :selected=>:is_map) -%>
    </p>
  </div>

  <div class="column span-12 last">
    <p>
      <b><%= t('maps.form.subject') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <%= f.text_field :subject_area %>
    </p>

    <p>
      <b><%= t('maps.form.unique_id') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %> </span><br />
      <%= f.text_field :unique_id %>
    </p>
    
     <p>
      <b><%= t('maps.form.photo_uuid') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %> </span><br />
      <%= f.text_field :photo_uuid %>
    </p>

    <p>
      <b><%= t('maps.form.source') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <%= f.text_field :source_uri %>
    </p>

    <p>
      <b><%= t('maps.form.call') %> </b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <%= f.text_field :call_number %>
    </p>

    <p>
      <b><%= t('maps.form.publisher') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <%= f.text_field :publisher %>
    </p>

    <p>
      <b><%= t('maps.form.place') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <%= f.text_field :publication_place %>
    </p>
    <p>
      <b><%= t('maps.form.author') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <%= f.text_field :authors %>
    </p>

     <p>
      <b><%= t('maps.form.depicted') %></b><span class="tiny-text"> <%= t('maps.form.depicted_hint') %></span><br />
      <%= f.text_field :date_depicted %>
     </p>

    <p>
      <b><%= t('maps.form.published') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <%= f.date_select(:published_date, :include_blank => true, :order => [:day, :month, :year ], :start_year => 1600, :end_year =>Time.now.year)  %>
    </p>

    <p>
      <b><%= t('maps.form.reprint') %> </b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <%= f.date_select(:reprint_date, :include_blank => true, :order => [:day, :month, :year ], :start_year => 1600, :end_year =>Time.now.year)  %>
    </p>
    
    <p>
      <b><%= t('maps.form.scale') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <%= f.text_field :scale %>
    </p>

    <p>
      <b><%= t('maps.form.projection') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %> </span><br />
      <%= f.text_field :metadata_projection %>
    </p>
    <p>
      <b><%= t('maps.form.location') %></b><span class="tiny-text"> <%= t('maps.form.optional_hint') %></span><br />
      <b><%= t('maps.form.lat') %> </b> <%= f.text_field :metadata_lat %><br />
      <b><%= t('maps.form.lon') %> </b> <%= f.text_field :metadata_lon %>
    </p>

  </div>



  <div class="column span-24">
    <%- if defined?(page)  && page =~ /new/ -%>
      <p>
        <label for="upload"><b><%= t('maps.form.upload_file') %></b>
          <br /><% if @max_size %>
            <%= t('maps.form.max_size') %>
            <%=  number_to_human_size @max_size %>.
          <% end %>
          <%= @upload_file_message %>
        </label> <br />
        <%= f.file_field :upload %>
      </p>
    <%- end -%>

    <%- if defined?(page)  && (page =~ /edit/ && user_signed_in? && (current_user == @map.owner || current_user.has_role?("editor")) || page =~ /new/ ) -%>
      <p>
      <%= t('maps.form.are_visible') %><br />
      <% unless @map.public? %>
          <%= f.radio_button :public, "true" %><label for="map_public_true"><%= t('maps.form.make_public') %></label>
        <% end %>
      </p>
    <%- end -%>
    <p>
      <%= f.submit((defined?(page) && page =~ /new/) ? t('common.create_button') : t('common.update_button') )%>
    </p>

  </div>
<% end %>
