<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery("form.edit_map").bind("ajax:success", function (event, data, status, xhr) {
      jQuery("#Edit").html(data);
    });
  });
</script>
<%= form_for(@map, :remote=>true, :html => {:multipart => true}) do |f| %>
  <div class="column ">
    <p>
      <b>Title</b><br />
      <%= f.text_field :title %>
    </p>

    <p>
      <b>Description </b><span class="tiny-text">(max 256 chars)</span><br />
      <%= f.text_area(:description, :rows => 12, :cols => 30) %>
    </p>

    <p>Map Type (only maps are shown in any merged mosaic map)<br />
      <%= f.select(:map_type, Map.map_type_hash) -%>
    </p>

    <p>
      <b>Source / Bibliographic Ref URL</b><br />
      <%= f.text_field :source_uri %>
    </p>
  </div>

  <div class="column span-24">

    <p>
      <%= f.submit((defined?(page) && page =~ /new/) ? "Create" : "Update" )%>
    </p>

  </div>

<% end %>
