<%= form_for(@map, :html => {:multipart => true}) do |f| %>
  <%= render "shared/error_messages", :target => @map %>

  <div class="column span-12">
    <p>
      <b> <%= t('.title') %></b><br />
      <%= f.text_field :title %>
    </p>

    <p>
      <b> <%= t('.desc') %> </b><span class="tiny-text"> <%= t('.desc_hint') %> </span><br />
      <%= f.text_area(:description, :cols => 30, :rows => 12) %>
    </p>
    <p>
    <b><%= t('.issue') %></b><span class="tiny-text"> <%= t('.issue_hint') %><br />
       <%= t('.issue_hint_2') %>
      </span><br />
      <%= f.text_field :issue_year %>
    </p>
    <p>
      <b><%= t('.tags') %></b><span class="tiny-text"> <%= t('.tags_hint') %></span> <br />
      <%= f.text_field :tag_list, value: f.object.tag_list.to_s %> 
    </p>
    <p>
      <br />
      <%= f.select(:map_type, Map.map_type_hash, :selected=>:is_map) -%>
    </p>
  </div>

  <div class="column span-12 last">
    <p>
      <b><%= t('.subject') %></b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <%= f.text_field :subject_area %>
    </p>

    <p>
      <b><%= t('.unique_id') %></b><span class="tiny-text"> <%= t('.optional_hint') %> </span><br />
      <%= f.text_field :unique_id %>
    </p>

    <p>
      <b><%= t('.source') %></b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <%= f.text_field :source_uri %>
    </p>
<!-- 
    <p>
      <b><%= t('.call') %> </b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <%= f.text_field :call_number %>
    </p>
-->
    <p>
      <b><%= t('.publisher') %></b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <%= f.text_field :publisher %>
    </p>

    <p>
      <b><%= t('.place') %></b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <%= f.text_field :publication_place %>
    </p>
    <p>
      <b><%= t('.author') %></b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <%= f.text_field :authors %>
    </p>

     <p>
      <b><%= t('.depicted') %></b><span class="tiny-text"> <%= t('.depicted_hint') %></span><br />
      <%= f.text_field :date_depicted %>
     </p>

    <p>
      <b><%= t('.published') %></b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <%= f.date_select(:published_date, :include_blank => true, :order => [:day, :month, :year ], :start_year => 1500, :end_year =>Time.now.year)  %>
    </p>

    <p>
      <b><%= t('.reprint') %> </b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <%= f.date_select(:reprint_date, :include_blank => true, :order => [:day, :month, :year ], :start_year => 1500, :end_year =>Time.now.year)  %>
    </p>
    
    <p>
      <b><%= t('.scale') %></b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <%= f.text_field :scale %>
    </p>

    <p>
      <b><%= t('.projection') %></b><span class="tiny-text"> <%= t('.optional_hint') %> </span><br />
      <%= f.text_field :metadata_projection %>
    </p>
    <p>
      <b><%= t('.location') %></b><span class="tiny-text"> <%= t('.optional_hint') %></span><br />
      <b><%= t('.lat') %> </b> <%= f.text_field :metadata_lat %><br />
      <b><%= t('.lon') %> </b> <%= f.text_field :metadata_lon %>
    </p>
    <p>
      <b><%= t('.place_name') %></b><span class="tiny-text"> <%= t('.optional_hint') %> </span><br />
      <%= f.text_field :place_name %>
    </p>

  </div>

  <div class="column span-24">
    <%- if defined?(page)  && page =~ /new/ -%>
      <p>
        <label for="upload"><b><%= t('.upload_file') %></b>
          <% if @max_size %>
            <%= t('.max_size') %> <%=  number_to_human_size @max_size %>.
          <% end %>
          <%= @upload_file_message %>
        </label> <br />
        <%= f.file_field :upload %>
      </p>
      <%= t('.upload_or_url') %>
      <p>
        <label for="upload_url"><b><%= t('.upload_url') %></b></label>
        <%= f.text_field :upload_url %>
      </p>
    <%- end -%>

    <%- if defined?(page)  && (page =~ /edit/ && user_signed_in? && (current_user == @map.owner || current_user.has_role?("editor")) || page =~ /new/ ) -%>
      <p> 
        <%= t('.are_visible') %><br />
        <% unless @map.public? %>
          <%= f.radio_button :public, "true" %><label for="map_public_true"><%= t('.make_public') %></label>
        <% end %>
      </p>
    <%- end -%>
    <p>
      <%= f.submit((defined?(page) && page =~ /new/) ? t('common.create_button') : t('common.update_button') )%>
    </p>

  </div>
<% end %>
