<tr>
  <td>
    <a name="a-map-row-<%=map.id%>"></a>
<%= link_to image_tag(map.upload.url(:thumb)), map %>
  </td>
  <td>
    <div class="maplist_title">
      <%=link_to(strip_brackets(h(map.title)), map) %>

    </div>

    <div class="map_description"><span><%=strip_brackets(h(map.description)) -%>
        <% if map.layers.count > 0 %>
          (<%= t('.in') %> <%=link_to(pluralize(map.layers.count, t('layer')), map_layers_path(map.id)) -%>)
        <%end %>
      </span>

      <span class="map_year">
        <% if map.depicts_year -%>
          <%= t('.depicts') %>: <%= map.depicts_year -%>
        <% end -%>
      </span>
      <% if !map.public? %><span class="publicprivate">(<%= t('.private') %>)</span><% end-%>
    </div>
    <div class="map_links_bigger">
      <%= link_to("View Map",map) -%>
      |
      <% if !admin_authorized? && map.published? %>
        <strong title ="<%= t('.published_warn') %>"><%= t('.published') %></strong>
      <%  else %>
        <%= link_to(t('.warp_map'), map_path(:id=> map.id,:anchor=>"Rectify_tab")) -%>
      <% end %>
      <% if user_signed_in? -%>
        <% current_user_maps = current_user.maps %>
        <% if current_user_maps.to_a.include?(map) -%>
          | <%= link_to(t('.remove_my'), destroy_my_map_path(:user_id => current_user, :map_id => map.id), :method => :post, :data => {:confirm => t('.confirm_my')} ) -%>
        <% else -%>
          | <%= link_to(t('.save_my'), add_my_map_path(:user_id => current_user, :map_id => map.id), :method => :post) -%>
        <% end -%>
      <% end -%>


      <% if admin_authorized? and @layer -%>
        | <%= link_to t('.remove_from_layer'), remove_layer_map_path(:id => @layer.id, :map_id => map.id), :method => :put %>
      <%end -%>

      <% if admin_authorized? -%>
        <% @map = map-%>
        | <%= render :partial  => 'maps/map_type', :object => @map -%>
      <% end -%>

      <%if map.warped_or_published?-%> |
        <%= link_to(t('.kml'), map_url(:id => map, :format=>:kml)) -%>
      <% end -%>
    </div>
    <div class="map_links">
      <% if map.source_uri %>
        <%= t('.links') %>: <%= link_to t('.source'), map.source_uri  %>
      <% end %>
    </div>

  </td>
  <td>
    <%=  map.depicts_year %>
  </td>
  <td>
    <%=h time_ago_in_words(map.updated_at) -%> <%= t('ago') %>
  </td>
  <td>
    <%if map.gcps.hard.size > 0 %>
      <%=pluralize(map.gcps.hard.size, t('.gcp')) -%>
    <%else-%>
      <%= t('.unwarped') %>
    <%end-%>
  </td>


</tr>
