<% map = @map %>

<tr>
  <% cl = cycle('table0', 'table1') %>
  <td class="<%= cl %>">
    <%=  image_tag(map.upload.url(:thumb)) %>
  </td>
  <td class="<%= cl %>">
    <span class="maplist_title">
      <%=strip_brackets(h(map.title)) %>
    </span>
   
    <br />
    <span class="map_description">
      <%=strip_brackets(h(map.description)) -%>
    </span>
    <span class="map_summary">
      <%- if map.owner -%>Uploaded by <%= link_to(map.owner.login, user_path(map.owner)) -%>.<%-end-%>
      <%- if map.layers.count > 0 -%>
        (In <%=link_to(pluralize(map.layers.count, 'layer'), map_layers_path(map.id)) -%>)
      <%-  end -%>
      <span class="map_year">
        <% if map.depicts_year -%>
          Depicts: <%= map.depicts_year -%>
        <% end -%>
      </span>
      <% if !map.public? %><span class="publicprivate">(Not listed)</span><% end-%>
      Last modified <%=h time_ago_in_words(map.last_changed) -%> ago.
      <%if map.gcps.size > 0 %>
        <%=pluralize(map.gcps.size, "control point") -%>.
      <%else-%>
        Unrectified.
      <%end-%>
    </span>
      <br />
    <% if map.tags.count > 0 -%>
      <span class="map_summary">Tags:</span>
      <span class="tags">
        <% map.tags.each do | tag | -%>
          <%= link_to tag.name, { :controller=> :maps, :action => :tag, :id => tag.name } %>
        <% end %>
      </span>
      <br />
    <% end -%>

    <span class="map_links">
    <% if logged_in? %>
      <% current_user_maps = current_user.maps %>
      <% if current_user_maps.to_a.include?(map) %>
        <%= link_to('Remove from My Maps',
          destroy_my_map_path(:user_id => current_user, :map_id => map), :method => :post, :confirm => "really remove this map from your list?") -%>  |
      <% else %>
        <%= link_to('Save to My Maps',
          add_my_map_path(:user_id => current_user, :map_id => map), :method => :post) -%>  |
      <% end -%>
    <% end -%>

    <%- if map.source_uri -%>
    Links: <%= link_to 'Source / Biblio Ref',map.source_uri  %>
    <%- end -%>
    <% if map.status == :warped or map.status == :available %>
      <% if admin_authorized? %>
        | <%= link_to("Publish",{:controller => "maps", :action => "publish", :id => map}, :confirm => "Really publish this map? This will mean that no further editing can be done") -%>

      <% end -%>
    <% end -%>

    <%if map.status == :warped %> |
      <%= link_to("Download KML", map_url(:id => map, :format=>:kml)) %>
    <% end %>

    <% if admin_authorized? %>
      | <%= render :partial  => 'maps/map_type', :object => @map %>
    <% end %>

        <div style="clear:both;"></div>
         <%= render :partial => 'shared/addthis', :locals => {:title => map.title, :description =>map.description} %>
         <%= render :partial => 'shared/export_window', :locals => {:map => @map} %>
    </span>
  </td>
</tr>
