<% content_for :head do %>
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

  <script type="text/javascript" charset="utf-8">
    var map_id = '<%=h @map.id -%>';
    var thumb_base_path = '<%= url_for(map_thumb_base_path) %>';

  </script>
  <%= javascript_include_tag "align" %>
<% end %>

<span id="gcp_notice"></span>
<%= t('.instructions_html') %>

<div id = "mapgrid">
  <ul id="sortable">
    <li class="ui-state-default" id="place_1"><a href="#" class="add_map" title="<%= t('.add_map_title') %>">+</a></li>
    <li class="ui-state-default" id="place_2"><a href="#" class="add_map" title="<%= t('.add_map_title') %>">+</a></li>
    <li class="ui-state-default" id="place_3"><a href="#" class="add_map" title="<%= t('.add_map_title') %>">+</a></li>
    <li class="ui-state-default" id="place_4"><a href="#" class="add_map" title="<%= t('.add_map_title') %>">+</a></li>
  </ul>
</div>

<div id="align_form_div">
  <fieldset id="control_panel_fieldset">
    <legend><%= t('.form_title') %></legend>
    <%= form_for(:maps, :html => {:id => 'align_form', :onsubmit =>'return serialiseStuff();' },
      :url => {:controller => 'maps', :action => 'warp_aligned', :id=>@map.id }) do | f | %>
      <input type="hidden" id="srcmap" name="srcmap" value="" />
      <input type="hidden" id="destmap" name="destmap" value="<%=@map.id%>" />
      <input type="hidden" id="align" name="align" value="" />
       <%= t('.overwrite_label') %><br />
      <label for="append_yes"><%= t('.append_yes') %>:</label>
      <input type="radio" id="append_yes" name="append" value="false" checked />
      &nbsp;
      <label for="append_no"><%= t('.append_no') %>:</label>
      <input type="radio" name="append" id="append_no" value="true" />
      <br />
      <br />
      <%= t('.type_label') %>:<br />
      <label for="align_orig"><%= t('.original_type') %></label>

      <input type="radio" id="align_orig" name="align_type" value="original" checked/>
      <br />
      <label for="align_warped"><%= t('.warped_type') %></label>
      <input type="radio" id="align_warped" name="align_type" value="warped" />
      <br />
      <br />
      <%= f.submit t('.align_button') %>
    <% end %>
  </fieldset>

</div>
<% counter = 0 %>
<div id="dialog" title="<%= t('.ref_title') %>" >
  <%= t('.ref_instructions') %>:
  <div id="align-accordian">
    <%@map.layers.visible.each do |layer| %>
      <% unless layer.maps.warped.count == 0 || (layer.maps.warped.count ==1 && layer.maps.warped.first.id == @map.id) %>
        <h3><a href="#"><%= layer.name %></a></h3>
        <table id="layer-<%=layer.id%>">
          <% layer.maps.warped.each do | map | %>
            <% unless map.id == @map.id %>
              <tr id="map-<%= map.id %>">
                <td class="align-map-thumb">
                  <%=  image_tag(map.upload.url(:thumb)) %>
                </td>
                <td class="align-map-title">
                  <%=map.title %>
                </td>
                <td>
                  <button type="button" id="<%=map.id%>"><%= t('.ref_button') %></button>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <% counter+=1 %>
      <%end %>
    <% end %>
  </div>
  <% if counter == 0 %>
    <em> <%= t('.no_layers_message') %>
    </em>
  <% end %>
  <br />

  <form>
    <fieldset>
      <%= t('.manual_instructions') %>: <br />
      <label for="mapid"><%= t('.map') %></label>
      <input type="text" name="mapid" id="mapid" class="text ui-widget-content ui-corner-all" />
    </fieldset>
  </form>
</div>
