
<%unless @map.warped_or_published? && @map.gcps.hard.size > 2 %>
  <%= t('maps.warped.unwarped_notice') %>
<% else %>
  <% content_for :head do %>
    <%= javascript_include_tag "annotate" %>
    <style type="text/css">
      #slider {
        bottom:50px;
        margin-left:auto;
        margin-right:auto;
        width:25em;
        z-index:1500;
      }
      #opacity-info {
        margin-left:auto;
        margin-right:auto;
        width:10em;
      }
    </style>
    <script type="text/javascript">
      var map_id = '<%=h @map.id -%>';
      var title = '<%=u @map.title -%>';
      var warped_image_width = <%= @map.width %>;
      var warped_image_height = <%= @map.height %>;
      var warpedwms_url = '<%= url_for :controller => 'maps', :action => 'wms', :id => @map  -%>';
      var warped_bounds = new OpenLayers.Bounds(<%=@map.bounds-%>);
      var layer_baseurl = '<%= url_for(wms_layer_base_path) %>';
      var layers_array = [<%=@other_layers.join(",")-%>];
      var warpedtiles_url = '<%= tile_map_base_url %>/';
      var use_tiles = <%= !user_signed_in? %>;
      var mask_geojson = <%= @map.mask_status != :masked || @map.mask_geojson.blank? ? false : @map.mask_geojson.html_safe %>;
      var icon_imgPath = '/assets/icons/';
      var annotations_url = '<%= url_for(annotations_path)%>';
  
    </script>


  <% end %>

  <% @onload =  "annotateinit();" -%>
<div id="annotations">

  <div id="annotate-sidebar">
  
    <div id="intro-annotation" >
      <h3> <%= t('.intro-header') %></h3>
      <div class="annotation">
        <p class="alert-info">
          <%= t('.intro-help') %>
        </p>
        <p class="notice-info notices" style="display: none;"></p>
        <p class="intro-count">

        <p> 
          <%= t('.intro-extra') %>
        </p>
        <p>
         <a href="" id="add-new-button" class="buttonWarper" name="add-new-button"><%= t('.new-add') %> </a>
        </p>
      </div>
    </div> <!-- intro annotation -->
  
  
  
    <div id="new-annotation" style="display:none;">
      <h3><%= t('.new-header') %></h3>
      <div class="annotation">
        <p class="alert-info">
          <%= t('.new-help') %>
        </p>

      <form action="#">
        <input type="hidden" name="lon" autocomplete="off">
        <input type="hidden" name="lat" autocomplete="off">
        <input type="hidden" id="geom-input" name="geom" autocomplete="off">
        <div class="form-group">
          <textarea class="form-control" id="body-input"  name="body" cols="25" rows="10" maxlength="2000" placeholder="<%= t('.new-placeholder') %>"></textarea>
        </div>
        <p class="notice-new notices" style="display: none;"></p>
        <div class="buttons clearfix">
          <input type="submit" name="add" disabled="" value="<%= t('.new-save') %>">
          <a href="" id="cancel" class="buttonWarperBlue" name="cancel"><%= t('.cancel') %> </a>
        </div>
      </form>
      </div>
    </div> <!-- new annotation -->


    <div id="edit-annotation" style="display:none;">
      <h3><%= t('.edit-header') %></h3>
      <div class="annotation">
        <p class="alert-info">
          <%= t('.edit-help') %>
        </p>

      <form action="#">
        <input type="hidden" name="lon" autocomplete="off">
        <input type="hidden" name="lat" autocomplete="off">
        <input type="hidden" id="annotation-id" autocomplete="off">
        <input type="hidden" id="edit-geom-input" name="geom" autocomplete="off">
        <div class="form-group">
          <textarea class="form-control" id="edit-body-input"  name="body" cols="25" rows="10" maxlength="2000" placeholder="<%= t('.new-placeholder') %>"></textarea>
        </div>
        <p class="notice-edit notices" style="display: none;"></p>
        <div class="buttons clearfix">
          <input type="submit" name="edit" value="<%= t('.edit') %>">
          <a href="" id="cancel" class="buttonWarperBlue" name="cancel"><%= t('.cancel') %> </a>
        </div>
      </form>
      </div>
    </div> <!-- edit annotation -->


    <div id="show-annotation" style="display:none;">
      <div>
        <h2></h2>
      </div>
      <p class="notice-show notices" style="display: none;"></p>

      <h4><%= t('.show-description') %></h4>
      <div class="annotation-body">
        <p></p>
      </div>

      <div class="details">
        <ul class="" id="user-details">
          <li><span id="created-by">Created by joachim-n</span> <abbr title="formatted datetime"><span id="created-ago" title="formatted datetime">4 days ago</span></abbr></li>
        </ul>
      </div>

      <div class="actions">
        <a id="edit-link" href=""  class="buttonWarper">Edit</a> |
        <a href="" id="cancel" class="buttonWarperBlue" name="cancel"><%= t('.cancel') %> </a>
        <% if admin_authorized? -%>   
        | <a id="delete-link" href="">Delete</a>
        <% end %> 
        <p class="add-new-on-show"> 
          <a href="" id="add-new-button-show" class="buttonWarper" name="add-new-button"><%= t('.new-add') %> </a>
        </p>         
      </div>
    </div >  <!-- show annotation -->

    
  </div><!-- annotate-sidebar -->


  <div id="annotatemap-container">
    <div id="annotatemap"></div>
    <div id="slider"><div class="ui-slider-handle"></div> </div>
   
    <div id="opacity-info">
      <%= t('maps.warped.transparency') %>: <input id="opacity" type="text" value="70" size="3" disabled="true" />
    </div>
  </div><!-- annotatemap-container -->


</div><!-- annotations -->
<div style="clear: both;"></div>
<%end %>
