<% content_for :head do  %>
  <script  type="text/javascript">
    var map_id = '<%=h @map.id -%>';
    var title = 'clipping map';
    var gml_file_exists = <%= @gml_exists %>;
    var timestamp = Math.round(new Date().getTime() / 1000.0);

    var gml_url = "<%=request.protocol + request.host_with_port-%>/mapimages/<%= @map.id%>" + ".gml.ol?" + timestamp;
      var clip_image_width = <%= @map.width %>;
      var clip_image_height = <%= @map.height %>;
      var clip_wms_url = '<%= url_for :controller => 'maps', :action => 'wms', :id => @map  -%>';
      jQuery(document).ready(function() {
        jQuery('#popoverNotice2').hide();
      });

  </script>
  <%= javascript_include_tag "clip" %>
<% end -%>
<% @onload =  "clipinit();" -%>

<div id="clipmap">
</div>
<div id="popoverNotice2" class="hidden-at-start"><%= image_tag "spinner.gif" %><span id="noticeMessage2"> </span></div>
<div id="maskresult"></div>

<div id="cliphelp">
  <p>1. Draw around the area you wish to keep.  </p>
  <p>2. Then to apply the mask to the map, click "Mask Map!" </p>
</div>

<div id="info">
  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery("form#clip_form2").bind("ajax:success", function(e, data, status, xhr) {
        jqHighlight('maskresult');
        jQuery("#maskresult").html(data.message);
      }).bind("ajax:before", function() {
        deselect();
        bigModalDialog2('<br />Saving mask...<br />Cropping map...');
        serialize_features();
      }).bind("ajax:complete", function() {
        closeBigModalDialog2();
        updateOtherMaps();
      });
    });
  </script>
  <%= form_tag save_mask_and_warp_map_path(@map.id, :format=>"json"), :remote => true, :id => 'clip_form2' do %>
    <%= hidden_field_tag "output" %>
    <%= submit_tag "Mask Map!" %>
  <% end %>

  <br />
  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery("a#delete_mask").bind("ajax:success", function(e, data, status, xhr) {
        jqHighlight('maskresult');
        jQuery("#maskresult").html(data.message);
        destroyMask();
      }).bind("ajax:complete", function() {
        updateOtherMaps();
      }).bind("ajax:error", function() {
        alert('that didnt work as expected, sorry');
      });
    });
  </script>

  <%= link_to("Delete mask", delete_mask_map_path(:id=>@map.id, :format=>"json"), :id => "delete_mask", :class=>"delete_button", :remote => true,  :method => "delete",  data: { confirm: 'Really delete mask and start over?'})%>


</div>
