<div class="export-tab-container">
<h2><%= t('.header') %></h2>
<h3><%= t('.images_header') %></h3>
<ul>
  <li>
    <%= t('.geotiff') %>: <%= link_to  t('.geotiff_link'), export_map_url(:id => @map, :format => :tif) %>
  </li>
  <% if user_signed_in? -%>
    <li>
      <%= t('.png') %>: <%= link_to  t('.png_link'), export_map_url(:id => @map, :format => :png) %>
      (<%= t('.png_aux') %> <%= link_to ".aux.xml", export_map_url(:id => @map, :format => :aux_xml) %>)
    </li>
  <% end -%>
</ul>
<h3><%= t('.services_header') %></h3>
<ul>
  <li><%= t('.kml') %>: <%= link_to(t('.kml_link'),  map_url(:id => @map, :format => :kml)) %> <%= t('.kml_hint') %></li>
  <li>
    <% josm_url = url_for(wms_map_url(:id => @map)) + "?request=GetMap&version=1.1.1&styles=&format=image/png&srs={proj}&exceptions=application/vnd.ogc.session.inimage&width={width}&height={height}&BBOX={bbox}&" %>
    <%= t('.wms') %>: <%= link_to(t('.wms_link'), url_for(wms_map_url(:id=>@map, :request => "GetCapabilities", :service => "WMS", :version => "1.1.1")) )%>
    (<%= link_to t('.josm_link'), josm_url %>    )
  </li>
  <li>
    <% tile_url = "#{tile_map_base_url(:id => @map.id)}/{z}/{x}/{y}.png" %>
    <%= t('.tiles') %>: <%= tile_url %>
  </li>
</ul>
<%= t('.bibliographic_header') %>
<ul>
  <li>
    <%= link_to t('.bibliographic'), "http://example.com/alink"  %>
  </li>
</ul>

<h3><%= t('.gcp_header') %></h3>
<ul>
  <li><%= t('.gcp_csv') %>: <%= link_to t('.gcp_csv_link'), gcps_map_url(@map, :format=>:csv) %> </li>
</div>