<% content_for :head do %>
  <script type="text/javascript">
    var gs_bounds = new OpenLayers.Bounds(<%=@bbox-%>);
    var mapBaseURL = '<%= url_for maps_path %>';
    var mapThumbBaseURL = '<%= url_for(map_thumb_base_path) %>/';
    var year_from = <%= @year_min.to_i %>;
    var year_to = <%= @year_max.to_i %>;
  
    jQuery(function () {
      jQuery("#year-slider").noUiSlider({
        start: [year_from, year_to],
        connect: true,
        step: 1,
        format: wNumb({
          decimals: 0
        }),
        range: {
          'min': <%=  @year_min.to_i %>,
          'max': <%= @year_max.to_i %>
        }
      });
  
      jQuery("#year-slider").Link('upper').to('-inline-<div class="year-slider-tooltip"></div>', function (value) {
        jQuery(this).html(
                '<span>' + value + '</span>'
                );
      });
  
      jQuery("#year-slider").Link('lower').to('-inline-<div class="year-slider-tooltip"></div>', function (value) {
        jQuery(this).html(
                '<span>' + value + '</span>'
                );
      });
      jQuery("#year-slider").Link("upper").to(jQuery("input#to"));
      jQuery("#year-slider").Link("lower").to(jQuery("input#from"));
      $('#year-slider').on('set', function () {
        do_search(1);
      });
    });
  
  </script>

  <%= javascript_include_tag "geosearch" %>
  <%= javascript_include_tag "geosearch-map" %>

  <% @onload = "searchmapinit();" %>
<% end %>

<h2><%= t('.title') %></h2>
<p><%= t('.description') %></p>
<div id="searchmap-container">
  <div id="searchmap-list-block">

        <div id="geosearch-year-filter-container">
          <div id="year-filter">
            <div id="year-label">
              <%= t('common.year_th') %>
            </div>
            <div id="year-slider-container">
              <div id="year-slider"></div>
            </div>	
          </div>
        </div>

        <table id="searchmap-table" style="table-layout:fixed">

        </table>
      </div>
      <div id="searchmap-block">
        <form id='placeSearchForm'  onsubmit='doPlaceSearch(this);
        return false;' class='geosearchform'>
          <input type="text" id="place" name="place" value="">
          <input type="hidden" name="operation" value="intersect" >
          <input type="submit" value="<%= t('.button') %>" class="geosearch-button">

        </form>
        <span id="loadingDiv"><%= image_tag "spinner-horiz.gif" %> </span>
        <input type="hidden" id="from" value = "<%= @year_min %>"/>
        <input type="hidden" id="to" value="<%= @year_max %>"/>
        <div id="searchmap"></div>
      </div>
    </div>
    <div id="under-searchmap-container">
    </div>
  </div>
