
<div id="search-form"><%= render :partial => 'shared/search' -%>
</div>

<div class="browse">

  <h2><%= t('.title') %>
    <%if @query && @query.length > 0 %>&mdash; <%= t('.results') %>"<%=@query%>"
    <%end-%>
  </h2>

  <div class="warper_pagination">
    <div id="search-pagination-top">
      <%= will_paginate @maps %>
    </div>
  </div>
        
  <table id="map_table" cellpadding="3">
    <thead>
      <tr>
        <th><%= t('common.map') %></th>
        <%= sort_header_tag('title', :title => t('common.title_th')) %>
        <%= sort_header_tag('issue_year', :title => t('common.year_th'), :class=>"year-sort") %>
        <%= sort_header_tag('updated_at', :title => t('common.last_th'), :class => "modified-sort") %>
        <%= sort_header_tag('status', :title => t('common.status_th')) %>
      </tr>
    </thead>

    <tbody id="results">
      <%= render :partial => 'map', :collection => @maps unless @maps.nil? %>
    </tbody>
  </table>

  <div class="warper_pagination">
    <div id="search-pagination-bottom">
      <%= will_paginate @maps %>
      <div class="per_page_select">
        <%= page_entries_info @maps %>.&nbsp;<%= select_tag :per_page, options_for_select([20,50,100], @per_page.to_i), :onchange => "if(this.value){reload_with_page(this.value)};" %> <%= t('common.per_page') %>
      </div>
    </div>
  </div>
</div>
