
<div id="search-form"><%= render :partial => 'shared/search' -%></div>
New: <%= link_to 'Find Rectified Maps by Location',  url_for(:controller => 'maps', :action=>'geosearch')%>
<div class="browse">

  <h2>Browse Maps
    <%if @query && @query.length > 0 %>&mdash; Searched for "<%=@query%>"
    <%end-%>
  </h2>

  <div id="search-sort">
    <%= render :partial => 'shared/sort' -%>
  </div>
  <div class="warper_pagination">
    <div id="search-pagination-top">
      <%= will_paginate @maps %>
    </div>
  </div>

  <table id="map_table" cellpadding="3">
    <thead>
      <tr>
      <th>Map</th>
      <th>Title</th>
      <th>Last modified</th>
      <th>Status</th>
      </tr>
    </thead>

    <tbody id="results">
      <%= render :partial => 'map', :collection => @maps unless @maps.nil? %>
    </tbody>
  </table>

  <div class="warper_pagination">
    <div id="search-pagination-bottom">
      <%= will_paginate @maps %>
    </div>
  </div>
</div>


