<h2><%= t('.header') %></h2>


<div class="column span-6">
  <p>
    <b><%= t('maps.form.title') %></b><br />
    <%= h @map.title %>
  </p>
  <p>
    <b><%= t('maps.form.desc') %> </b><br />
    <%= h @map.description %>
  </p>
  <p>
    <% if @map.tags.count > 0 -%>
      <span class="map_summary"><%= t('maps.form.tags') %>:</span>
      <span class="tags">
        <% @map.tags.each do | tag | -%>
          <%= link_to tag.name, { :controller=> :maps, :action => :tag, :query => tag.name } %>
        <% end %>
      </span>
      <br />
    <% end -%>
  </p>
  <p>
    <%= @map.map_type.to_s %>

  </p>
</div>

<div class="column span-6 last">
  <p>
    <b><%= t('maps.form.pid') %></b><br />
    <%= @map.pid %>
  </p>

  <p>
    <b><%= t('maps.form.source') %></b><br />
    <%= @map.source_uri %>
  </p>
  <p>
    <b><%= t('maps.form.publisher') %></b><br />
    <%= @map.publisher %>
  </p>

  <p>
    <b><%= t('maps.form.author') %></b><br />
    <%= @map.authors %>
  </p>

  <p>
    <b><%= t('maps.form.scale') %></b><br />
    <%= @map.scale %>
  </p>

  <p>
    <b><%= t('maps.form.published') %></b><br />
    <%= @map.published_date %>

  <p>
    <b><%= t('maps.form.reprint') %></b><br />
      <%= @map.reprint_date %>
  </p>
  <p>
  <b><%= t('maps.form.place_name') %></b><br />
      <%= @map.place_name %>
  </p>
</div>

<div style="clear: both;"></div>
