<% content_for :head do %>

  <script type="text/javascript">
    var map_id = '<%=h @map.id -%>';
    var title = 'unwarped map';
    var unwarped_image_width = <%= @map.width || 0 %>;
    var unwarped_image_height = <%= @map.height || 0%>;
    var wms_url = '<%= wms_map_path(@map)  -%>';
  </script>

<% end -%>

<% if @mapstatus != "unloaded"  %>
  <% @onload="uinit();" %>
<% end %>
  
<% if @mapstatus != "unloaded" %>

  <div id="unmap">

  </div>

<% else %>

  <div id="loading">
    Loading map...
  </div>


  <div  id="prog"><div class="progress-label">10%</div></div>
  <div id="map_status" class="mapstatus">requesting</div>

  <div id="loaded" style="display:none;" >
    Map has successfully loaded, page will automatically refresh in a couple of seconds.
    <A HREF="javascript:history.go(0)">Click here</A> if you don't want to wait.
  </div>
  <div id="unloaded" style="display:none;">
    The map did not load properly, please refresh the page and try again.
    If it does not load properly a second time, please choose another map, and try again another day.
  </div>

  <script type="text/javascript">
    var updateInterval;
    
    var progressbar;
    jQuery(document).ready(function() {
      updateInterval = setInterval(updateStatus, 4000);
      progressbar = jQuery( "#prog" ).progressbar({
        value: 10,
        change: function() {
        jQuery(".progress-label").text( progressbar.progressbar( "value" ) + "%" );
      },
    });
    });
    
    function updateStatus(){
      var status = jQuery("#map_status").html();

      if (status == "available" || status == "warped") {
        clearInterval(updateInterval);
      } else {
        jQuery("#map_status").load("<%= url_for status_map_path(@map) %>",  function( response, status, xhr ) {updateProgress(response)});
      }
    }
    
    function updateProgress(respText){
      updateBar(respText);
      var status = jQuery("#map_status").html();
      if (status == "unloaded") {
        clearInterval(updateInterval);
        jQuery("#loading").hide();
        jQuery("#unloaded").show();
      } else if (status == "available" || status == "warping"){
        clearInterval(updateInterval);
        jQuery("#loading").hide();
        jQuery("#loaded").show();
        timedRefresh(2500);
      }    
    }
    
    function updateBar(status) {
       
      if (status == 'loading') {
        var prev = progressbar.progressbar( "value" ) || 0;
       
        var increment = Math.round(((100 - prev) / 100) * 7);
        var newPercentage = prev + increment;
        
        progressbar.progressbar( "value", newPercentage );

      }
      if (status == 'available') {
        progressbar.progressbar( "value", 100 );
      }
      if (status == 'unloaded') {
        progressbar.progressbar( "value", 10 );

      }
    }
  
    function timedRefresh(timeoutPeriod) {
      setTimeout("location.reload(true);", timeoutPeriod);
    }
    
    
  </script>

<%end%>

