
<div id="search-title"><%= t('.for') %> <%=@tags-%></div>
<% content_for :head do -%>
  <%=  auto_discovery_link_tag(:rss, {:controller => "maps", :action => "tag", :format => "rss", :id=> @tags}) %>
<% end -%>

<%=image_tag 'feed-icon-14x14.png' -%>
<%= link_to t('.rss') , tag_maps_path(:format=>:rss, :id => @tags) %>

<div class="warper_pagination">
  <div id="search-pagination-top">
    <%= will_paginate @maps %>
  </div>
</div>
<table id="map_table" cellpadding="3">
  <thead>
    <tr>
        <th><%= t('common.map_th') %></th>
        <%= sort_header_tag('title', :title => t('common.title_th')) %>
        <%= sort_header_tag('issue_year', :title => t('common.year_th'), :class=>"year-sort") %>
        <%= sort_header_tag('updated_at', :title => t('common.last_th'), :class => "modified-sort") %>
        <%= sort_header_tag('status', :title => t('common.status_th')) %>
    </tr>
  </thead>

  <%= render :partial => 'map', :collection => @maps unless @maps.nil? %>

</table>
<div class="warper_pagination">
  <%= will_paginate @maps %>
</div>
