<% content_for :head do %>
  <%= javascript_include_tag 'select2/select2.min' %>
  <%= stylesheet_link_tag 'select2/select2.min' %>
  <script type="text/javascript" charset="utf-8">
    jQuery.fn.select2.defaults.set('language', '<%= I18n.locale.to_s %>');
  </script>

  <%= javascript_include_tag 'select2/i18n/nl' %>
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  <script type="text/javascript" charset="utf-8">
    var icon_imgPath = '/assets/icons/';
    var gcp_add_url = "<%= url_for add_gcp_path :mapid=> @map %>";
    var gcp_update_url = "/gcps/update";
    var gcp_update_field_url = "/gcps/update_field";

    var from_map;
    var to_map;
    var gcp_markers = new Array(); // an array
    var map_id = '<%=h @map.id -%>';
    var title = '<%=u @map.title -%>';
    var image_width = <%= @map.width %>;
    var image_height = <%= @map.height %>;
    var wms_url = '<%= url_for :controller => 'maps', :action => 'wms', :id => @map  -%>';
    var empty_wms_url = '<%= url_for :controller => 'maps', :action => 'wms' -%>';
    var map_has_bounds = false;
    var layer_baseurl = '<%= url_for(wms_layer_base_path) %>';
    var layers_array = [<%=@other_layers.join(",")-%>];
    var map_bounds = new OpenLayers.Bounds();
  <% if @map.gcps.hard.size > 0 %>
      map_bounds = new OpenLayers.Bounds(<%=@map.bounds-%>);
      map_has_bounds = true;
      map_center = map_bounds.getCenterLonLat();
  <% end %>
    //set up jquery for the hidden tables
    jQuery(document).ready(function() {
      jQuery('#popoverNotice').hide();
      jQuery('#gcp_table_div').hide();
      jQuery('#advanced_form_options').hide();

      jQuery('#controlPointLink').click(function() {
        jQuery('#gcp_table_div').toggle('slow');
        return false;
      });
      jQuery('#advancedLink').click(function() {
        jQuery('#advanced_form_options').toggle('slow');
        return false;
      });
      jQuery('#to_map_notify_close>a').click(function() {
        jQuery('#to_map_notification').hide('slow');
        return false;
      });
    });

  </script>

  <%= javascript_include_tag "warp"-%>

  <script  type="text/javascript">
    function popul() {
  <% @gcps.each do |gcp| -%>
        populate_gcps(<%=gcp.id-%>, <%= gcp.x -%>, <%= gcp.y -%>, <%= gcp.lon -%>, <%= gcp.lat -%>, <%=gcp.error -%>);
  <% end -%>
      update_row_numbers();

  <% if @bestguess_places -%>
        var bestGuessResult = <%= @bestguess_places.to_json.html_safe -%>;
        bestGuess(bestGuessResult);
  <% end -%>

    }
    function csv_upload() {
      jQuery("#upload_csv_form").append(jQuery("#file").clone()).hide();
      jQuery("#upload_csv_form").submit();
    }
  </script>

<% end -%>

<% @onload="init();popul();" -%>

<div id ="from_map_block">
  <div id="from_map" class="map-off"></div>
  <span class="tie_button"></span>
</div>
<div id="link-map-button" class="link-map-button-off"
     onclick="toggleJoinLinks();" title="Pan/zoom lock" ></div>

<div id = "to_map_block">
  <div id="to_map_notification" class="hidden"><div id="to_map_notify_close"><a href="#" title="<%= t('.close_popup') %>">X</a></div><div id="to_map_notification_inner"></div> </div>
  <div id="to_map" class="map-off"></div>
  <div id="warped-slider"><div class="ui-slider-handle"></div></div>
</div>
<div id="popoverNotice" class="hidden-at-start"><%= image_tag "spinner.gif" %><span id="noticeMessage"></span></div>


<div id="add_custom_layer" style="display:none;">
  <%= t('.custom_layer_instructions_html') %>
  <form>
    <div class="layer-select-container">
      <select class="layer-select"  data-placeholder="<%= t('.custom_layer_placeholder') %>">
      </select>
    </div>
  </form>
</div>

<div id="gcp">
  <em><%= t('.click_text_top') %></em>
  <div id="addPointDiv" class="addPoint"><input type="submit" id="GcpButton" value="<%= t('.click_button') %>" onclick="set_gcp();" class="warp_button gcp_button" /></div>.
  <em><%= t('.click_text_btm') %></em></div>

<fieldset id="control_panel_fieldset">

  <legend><%= t('.panel_title') %></legend>
  <div id="rectifyNotice">
    <span id="spinner" style="display:none;"><%= image_tag 'spinner.gif' %></span><span id="gcp_notice"></span>
  </div>
  <a href="#" id="controlPointLink"><%= t('.gcps_link') %></a>
  <div id = "div_gcp_form">
    <%= form_for(:gcp, {:html => {:id => 'gcp_form'} ,  :url =>rectify_map_path(@map), :remote => true }) do |f| %>
      <div id="gcp_table_div" >
        <table id="gcp_table" class="gcpTabClass">

          <thead>
            <tr><th><%= t('.gcp_point') %></th><th><%= t('.gcp_x') %></th><th><%= t('.gcp_y') %></th><th><%= t('.gcp_lon') %></th><th><%= t('.gcp_lat') %></th><th id="errortitle"><%= t('.gcp_error') %>(<%=sprintf("%.2f",@map.error) %>)</th><th></th>
            </tr>
          </thead>
          <tbody id="gcp_list">
            <%= render(:partial => "gcps/gcp", :collection => @gcps) %>
          </tbody>
        </table>
        <input type="button" value="<%= t('.add_manually_button') %>" onclick="save_new_gcp(0, 0, 0, 0);" />
        <br />
        <%= link_to image_tag("csv-20x25.png")+ t('.download_gcps'), gcps_map_url(@map, :format=>:csv) %> <br />
        
      <% if editor_authorized? %>
        <fieldset class="gcp_upload">
          <label for="file"><%= t('.gcp_upload_label') %></label>
          <%= file_field_tag :file %>
          <input type="button" id="upload-csv-button" value="<%= t('.gcp_upload_button') %>"  />
        </fieldset>
      <% end %>
      </div>

      <input type="hidden" name="map" value ="<%= @map.id %>" />
      <a href="#" id="advancedLink"><%= t('.advanced_options') %></a>
      <div id="advanced_form_options" >
        <%= t('.method_label') %>
        <select name="transform_options">
          <option value="auto" selected="selected"><%= t('.auto_method') %></option>
          <option value="p1"><%= t('.p1_method') %></option>
          <option value="p2"><%= t('.p2_method') %></option>
          <option value="p3"><%= t('.p3_method') %></option>
          <option value="tps"><%= t('.tps_method') %></option> <!-- tps could be unsuitable for this style of rectification? needs a good spread of gcps anyhow. -->
        </select>
        <br />
        <%= t('.resample_label') %>
        <select name="resample_options">
          <option value="near"><%= t('.near') %></option>
          <option value="bilinear"><%= t('.bilinear') %></option>
          <option value="cubic" selected="selected"><%= t('.cubic') %></option>
          <option value="cubicspline"><%= t('.cubicspline') %></option>
          <!-- <option value="lanczos"><%= t('.lanczos') %></option> this is very very slow -->
        </select>
      </div>
      <p>
        
   <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery("input#upload-csv-button").click(function(){
        jQuery("#upload_csv_form").append(jQuery("#file").clone()).hide();
        jQuery("#upload_csv_form").submit();
      });
      jQuery("form#gcp_form").submit(function( event ) {
        jQuery("#file").val("");
      });
      jQuery("form#gcp_form").bind("ajax:before", function(event, data, status, xhr) {
        if (event.target.id == "gcp_form"){
          bigModalDialog('<%= t('.rectifying_notice') %>');
        }
      }).bind("ajax:error", function(){
        gcp_notice('<%= t('.server_error') %>');  
      });
    });
  </script>
        <%= f.submit t('.warp_button').html_safe, {:class  => "warp_button", :id=>"warp_button"}%>
      </p>
      <div id ="clipping_mask_buttons">

        <% if @map.mask_status.nil? || @map.mask_status == :unmasked -%>
          <%= t('.unmasked_question_html', :href => url_for(map_path(:id =>@map, :anchor=>"#{t('layouts.tabs.crop')}_tab"))) %>
          <br />
        <% end %>
          <%= t('.apply_mask_html', :href=> url_for(map_path(:id =>@map, :anchor=>"#{t('layouts.tabs.crop')}_tab"))) %>
        <label for="use_mask1">
          <input <% if @map.mask_status == :masked -%>checked<%end-%> id="use_mask1" type="radio" name="use_mask" value="true" /><%= t('.yes_mask') %>
        </label>
        <label for="use_mask2">
          <input <% if @map.mask_status == :unmasked -%>checked<%end-%> name="use_mask" id="use_mask2" type="radio" value="false" /><%= t('.no_mask') %>
        </label>
      </div>

    <% end %>
  </div>
</fieldset>


<%= form_tag add_many_gcps_to_map_path(:mapid=>@map.id), multipart: true, :id => "upload_csv_form" do %>
<% end %>



