<%= link_to "&lt; Browse Groups", groups_path %>

<h2>Group: <%=h @group.name %></h2>
<% if admin_authorized? %>
  <%=link_to('Edit this group', edit_group_path(@group)) %> | <%=  link_to 'Delete this group.',
    {:controller=>"groups", :action =>"destroy", :id => @group},  :method => :delete, :confirm => "Are you sure?" %>
<% end %>

<p>Created: <%= @group.created_at.to_s(:long) %> by <%= link_to(( h @group.creator.login), user_path(@group.creator.id), :method => :get)  -%></p>
<h3>Description:</h3>
<p><%= (h @group.description).gsub("\n","<br/>") %></p>
<p><%= pluralize(@group.maps.count, 'map') %>
  <%= pluralize(@group.users.count, 'user') %> </p>

<h3>Group Maps: <%= pluralize(@group.maps.count, 'map') %> </h3>

<div id="groupmaps">
  <%=will_paginate @group_maps %>
  <table id="map_table" cellpadding="3">
    <thead>
      <tr>
        <th>Map</th>
        <th>Title</th>
        <th>Last modified</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody id="results">
      <%= render :partial => 'maps/map', :collection =>  @group_maps unless @group_maps.nil? %>
    </tbody>
    <%= will_paginate @group_maps %>
  </table>


</div>

<h3>Group Members: <%= pluralize(@group.users.count, 'user') %> </h3>
<p>
  <% if logged_in? -%>
    <% if current_user.groups.to_a.include?(@group) %>
      <%= link_to('Leave this group', destroy_group_user_path(:group_id => @group, :id => current_user), :method => :delete) -%>
    <%  else -%>
      <%=link_to("Join this group", new_group_user_path(@group)) %>
    <% end -%>
  <% end -%>
</p>
<p>
<%= link_to "List this group's users", group_users_path(@group) %>
</p>
