<% if admin_authorized? && current_user != @user-%>
  <div class="user-admin">
    Email : <%= @user.email -%>  <br />
    Enabled? : <%= @user.enabled ? 'Yes' : 'No' -%> <br />
    Confirmed? <%= @user.confirmed? ? 'Yes' : 'No' -%> <br />
    <br />
    <%= link_to('Delete User', user_path(@user.id), :method => :delete, :data => {:confirm => 'Are you sure'} ) -%> This cannot be undone. Removes all their data.<br />
     
  
    <% if !@user.confirmed? -%>
      <%= link_to('Mnually confirm', force_confirm_user_path(@user.id), :method => :put) -%> Force confirmation of user, cannot be changed. <br />
    <% end  %>
    
    <% if @user.enabled -%>
      <%= link_to('Disable', disable_user_path(@user.id), :method => :put) -%>
    <% else -%>
      <%= link_to('Enable', enable_user_path(@user.id), :method => :put) -%>
    <% end -%>  the user's account - changeable by admin <br />

<%- unless @user.provider? %>
    <%= link_to "Change and reset password", disable_and_reset_user_path(@user.id), :method => :put %> This changes the password of the users account, and sends link via email to user to create a new password. Until a password is changed, the user cannot login.<br />
<% end %>

    <%= link_to 'Edit roles', user_roles_path(@user) -%> Change roles / groups that the user belongs to
  </div>
<% end -%>


