<% if admin_authorized? && current_user != @user-%>
  <div class="user-admin">
    <%= t('users.index.email') %> : <%= @user.email -%>  <br />
    <%= t('users.index.enabled') %> : <%= @user.enabled ? 'Yes' : 'No' -%> <br />
    <%= t('users.index.confirmed') %> : <%= @user.confirmed? ? 'Yes' : 'No' -%> <br />
    <%= t('users.index.updated') %>: <%= @user.updated_at.to_s(:long) %>
    <br />
    <%= link_to(t('.delete_user'), user_path(@user.id), :method => :delete, :data => {:confirm => t('.delete_confirm')} ) -%> <%= t('.delete_hint') %> <br />
     
  
    <% if !@user.confirmed? -%>
      <%= link_to(t('.confirm'), force_confirm_user_path(@user.id), :method => :put) -%> <%= t('.confirm_hint') %>  <br />
    <% end  %>
    
    <% if @user.enabled -%>
      <%= link_to(t('users.user.disable').titlecase, disable_user_path(@user.id), :method => :put) -%>
    <% else -%>
      <%= link_to(t('users.user.enable').titlecase, enable_user_path(@user.id), :method => :put) -%>
    <% end -%> <%= t('.enable_hint') %>  <br />

<%- unless @user.provider? %>
    <%= link_to t('.reset_password'), disable_and_reset_user_path(@user.id), :method => :put %> <%= t('.reset_hint') %><br />
<% end %>

    <%= link_to t('users.user.edit_roles').titlecase, user_roles_path(@user) -%> <%= t('.roles_hint') %>
  </div>
<% end -%>


