<tr class="<%= cycle('table0', 'table1') -%>">
<td><%= link_to(( h user.login), user_path(user.id), :method => :get)  -%></td>
<td><%=h user.email -%></td>
<td><%= user.enabled ? 'yes' : 'no' -%>&nbsp;
<% unless user == current_user -%>
<% if user.enabled -%>
        <%= link_to('disable', disable_user_path(user.id), :method => :put) -%>
<% else -%>
<%= link_to('enable', enable_user_path(user.id), :method => :put) -%>
<% end -%>

<% end -%>
&nbsp;
</td>
<td>
  <%= user.active? ? 'yes' : 'no' -%>
  <% if !user.active? -%>
    <%= link_to('activate', force_activate_path(user.id), :method => :put) -%>  
<% end-%>
</td>
<td><%= link_to 'edit roles', user_roles_path(user) -%></td>
</tr>
