<tr class="<%= cycle('table0', 'table1') -%>">
  <td><%= time_ago_in_words(user.created_at) -%> ago</td>
  <td><%= time_ago_in_words(user.updated_at) -%> ago </td>
  <td><%= link_to(( user.login), user_path(user.id), :method => :get)  -%></td>
  <td><%= user.own_maps_count %></td>
  <% if admin_authorized? %>
    <td><%= number_to_human_size(user.upload_filesize_sum)  %></td>
    <td><%= number_to_human_size(user.disk_usage * 1024) if user.disk_usage && user.disk_usage > 0  %></td>
    <td><%=h user.provider -%></td>
    <td><%=h user.email -%></td>
    <td><%= user.enabled ? t('.u_yes') : t('.u_no') -%>&nbsp;
      <% unless user == current_user -%>
        <% if user.enabled -%>
          <%= link_to(t('.disable'), disable_user_path(user.id), :method => :put) -%>
        <% else -%>
          <%= link_to(t('.enable'), enable_user_path(user.id), :method => :put) -%>
        <% end -%>
      <% end -%>
      &nbsp;
    </td>
    <td>
      <%= user.confirmed? ? t('.u_yes') : t('.u_no') -%>
      <% if !user.confirmed? -%>
        <%= link_to(t('.activate'), force_confirm_user_path(user.id), :method => :put) -%>  
      <% end-%>
    </td>
    <td><%= link_to(t('.edit_roles'), user_roles_path(user))-%></td>
  <% end -%>
</tr>
