    <h2>Edit Your Account</h2>

    <p><%= link_to "Show Profile", user_path(@user) %> | <%= link_to "Change Password", change_password_path %></p>
  <p><%= link_to "View / Edit OAuth Client Applications", oauth_clients_path %></p>
    <%= error_messages_for :user %>

    <% form_for :user, :url => user_url(@user), :html => { :method => :put } do |f| %>
    <p>Name:<br /><%= f.text_field :login, :size => 60 %></p>

    <%= submit_tag "Save" %>
    <% end %>
