
<% if admin_authorized? %>
 <%= form_tag url_for(:controller => "users"), :id=>"searchform",:name=> "searchform", :method => :get do -%>
    <%= t('.search') %>
    <select id="field" name="field">
      <%= options_for_select([ [t('.name'), "login"],
          [t('.email'), "email"],[t('.provider'), "provider"] ], @field)-%>
    </select>
    <%= t('.for') %>
    <%= text_field_tag 'query', @query -%>
    <input type="submit" value="<%= t('.button') %>" />
  <% end -%>
<% end %>
<h2><%= t('.header') %>
  <% if @group -%> in Group <%= @group.id.to_s -%>. <% end -%>
  <%if @query && @query.length > 0 %><%= t('.for_query') %> "<%=@query%>"
  <%end-%></h2>

<%= will_paginate @users %>
<table class="usertable">
  <thead>
    <tr>
      <%= sort_header_tag('created_at', :title => t('.created')) %>
      <%= sort_header_tag('updated_at', :title => t('.updated')) %>
      <%= sort_header_tag('login', :title => t('.login')) %>
      <%= sort_header_tag('own_maps_count', :title => t('.uploads_count')) %>
      <% if admin_authorized? %>  
        <%= sort_header_tag('upload_filesize_sum', :title => t('.uploads_size')) %>
        <%= sort_header_tag('disk_usage', :title => t('.disk_usage')) %>
        <%= sort_header_tag('provider', :title => t('.provider')) %>
        <%= sort_header_tag('email', :title => t('.email')) %>
        <%= sort_header_tag('enabled', :title => t('.enabled')) %>
        <%= sort_header_tag('confirmed_at', :title => t('.confirmed')) %>
        <th><%= t('.roles') %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "user", :collection => @users %>
  </tbody>
</table>
<%= will_paginate @users %>

