<%= link_to "&lt; Browse Maps".html_safe, maps_path %>

<h2>User: <%=h @user.login %></h2>
<%- if @user.provider %>
<p>A <%= image_tag(@user.provider+'_logo.png', width: '17', height: '17') %> <%=@user.provider_name.titlecase %> User </p>
<%- end %>
<p>Joined on: <%= @user.created_at.to_s(:long) %></p>
<h3>Profile Description:</h3>
<p><%= (h @user.description).gsub("\n","<br/>") %></p>
<p><%=link_to 'User activity', user_activity_url(:id=>@user.id) %></p>
<%= render :partial => 'users/admin_tools', :object => @user %>
<h3>User Maps</h3>

<div id = "usermaps">
  <%=will_paginate @mymaps %>
  <table id="map_table" cellpadding="3">
    <thead>
      <tr>
        <th>Map</th>
        <th>Title</th>
        <th>Last modified</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="results">
      <%= render :partial => 'maps/map', :collection =>  @mymaps unless @mymaps.nil? %>
    </tbody>
  </table>
  <%= will_paginate @mymaps %>
</div>
