<%= link_to t('.back_to_maps').html_safe, maps_path %>

<h2><%= t('.user') %>: <%=h @user.login %></h2>
<%- if @user.provider %>
<p>
  <%= t('.provider_user_html', :provider_thumb => image_tag(@user.provider+'_logo.png', width: '17', height: '17'), :provider_name => @user.provider_name.titlecase) %>
<%- end %>
<p><%= t('.joined') %>: <%= @user.created_at.to_s(:long) %></p>
<h3><%= t('.profile') %></h3>
<p><%= (h @user.description).gsub("\n","<br/>") %></p>
<p><%=link_to t('.activity'), user_activity_url(:id=>@user.id) %></p>
<%= render :partial => 'users/admin_tools', :object => @user %>
<h3><%= t('.user_maps') %></h3>

<div id = "usermaps">
  <%=will_paginate @mymaps %>
  <table id="map_table" cellpadding="3">
    <thead>
      <tr>
        <th><%= t('common.map_th') %></th>
        <th><%= t('common.title_th') %></th>
        <th><%= t('common.year_th') %></th>
        <th><%= t('common.last_th') %></th>
        <th><%= t('common.status_th') %></th>
      </tr>
    </thead>
    <tbody id="results">
      <%= render :partial => 'maps/map', :collection =>  @mymaps unless @mymaps.nil? %>
    </tbody>
  </table>
  <%= will_paginate @mymaps %>
</div>
