<h2><%= t('.header') %></h2>

<%= will_paginate @users_activity %>
<table class="usertable">
  <thead>
    <tr>
      <%= sort_header_tag('username', :title => t('users.show.user')) %>
      <%= sort_header_tag('total_count', :title => t('.total_count')) %>
      <%= sort_header_tag('map_count', :title => t('.map_count')) %>
      <%= sort_header_tag('gcp_count', :title => t('.gcp_count')) %>
      <%= sort_header_tag('gcp_create_count', :title => t('.gcp_create_count')) %>
      <%= sort_header_tag('gcp_update_count', :title => t('.gcp_update_count')) %>
      <%= sort_header_tag('gcp_destroy_count', :title => t('.gcp_destroy_count')) %>
      <th><%= t('.details') %></th>
    </tr>
  </thead>
  <tbody>

    <% @users_activity.each do | user | %>
      <tr class="<%= cycle('table0', 'table1') -%>">
        <td><% if user.user_id && User.exists?(user.user_id)
            user_name = User.select(:login).find_by_id(user.user_id).login
        %>
            <%= link_to(user_name, user_path(user.user_id))%>
          <% else %>
            <%= t('.unknown') %>
          <% end %>
          </td>
        <td><%=user.total_count %></td>
        <td><%=user.map_count %></td>
        <td><%=user.gcp_count %></td>
        <td><%=user.gcp_create_count %></td>
        <td><%=user.gcp_update_count %></td>
        <td><%=user.gcp_destroy_count %></td>
        <td>
          <% if user.user_id %>
            <%= link_to(t('users.show.activity'), user_activity_path(user.user_id)) %>
          <% else %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
<%= will_paginate @users_activity %>

