<script type="text/javascript">
  var isHovering = false;
  function closeExportWindow(force){
    if (!isHovering || force){
      jQuery('#export_window').hide();
    }
  }
  jQuery(document).ready(function(){

    jQuery("#export_window").hide();
    jQuery("#export_button").click(function() {
      var o = jQuery(this).offset();
      jQuery("#export_window").css({'position': 'absolute','left':o.left,'top':o.top+17});
      jQuery("#export_window").show();
    });

    jQuery("#export_window").mouseenter(function(){
        isHovering = true;
    }).mouseleave(function(){
        isHovering = false;
        setTimeout('closeExportWindow(false)',700);
    });

    jQuery("#close_export_window").click(function(){
        closeExportWindow(true);
    });

});
</script>

<div id="export_toolbox">|&nbsp;
  <a href="#" id="export_button" class="export_button"><%=image_tag("KML-logo-20x25.png", :height => '16')%>&nbsp;Export</a>
  <div id="export_window" class="export_float_div hidden" >
    <div id="export_window_inner">
      <div id="export_window_head">
        <span>Export Links</span>
        <a id="close_export_window" href="#" >X</a>
      </div>
      <div id="export_window_content" style="display: block;">
        <% unless @layer -%>
        <ul>
          <li> <%= link_to(image_tag("KML-logo-20x25.png")+"Download KML file",  map_url(:id => @map, :format => :kml)) %>  </li>
          <li><%= link_to(image_tag("google_maps-20x25.png")+"View KML in Google Maps", "http://maps.google.com?q="+map_url(:id => @map, :format => :kml), :target => "_blank") %> </li>
          <li><%= link_to(image_tag("wms-20x25.png")+"WMS Capabilities URL",url_for(wms_map_url(:id=>@map, :request => "GetCapabilities", :service => "WMS", :version => "1.1.1")) )%> </li>
          <li>
          <% tile_url = url_for(:controller => "maps", :action => "tile", :x => "x", :y => "y", :z => "z", :only_path => false) %>
          <%=link_to image_tag("tiles-20x25.png")+"Tiles base URL", tile_url %> 
          </li>
          <% if logged_in? -%>
          <li><%= link_to(image_tag("image-icon-20x25.png")+"Download rectified GeoTiff", export_map_url(:id => @map, :format => :tif)) %> </li>
          <li><%= link_to(image_tag("image-icon-20x25.png")+"Download rectified PNG", export_map_url(:id => @map, :format => :png)) %></li>
          <li>&nbsp;</li>
        <% else -%>
          <li> Log in for</li>
        <% end -%>
          <li> <%= link_to_if(logged_in?, "More export options", map_path(:id=> @map,:anchor=>"Export_tab")) -%> </li>
        </ul>
        <% else  -%>
          <%#layer%>
        <ul>
        <li> <%= link_to(image_tag("KML-logo-20x25.png")+"Download KML file",  layer_url(:id => @layer, :format => :kml)) %>  </li>
          <li><%= link_to(image_tag("google_maps-20x25.png")+"View KML in Google Maps", "http://maps.google.com?q="+layer_url(:id => @layer, :format => :kml), :target => "_blank") %> </li>
          <li><%= link_to(image_tag("wms-20x25.png")+"WMS Capabilities", :action=>"wms", :id=>@layer, :request => "GetCapabilities", :service => "WMS", :version => "1.1.1" )%> </li>
          <li>
          <% tile_url = url_for(:controller => "layers", :action => "tile", :x => "x", :y => "y", :z => "z", :only_path => false) %>
          <%=link_to image_tag("tiles-20x25.png")+"Tiles base URL", tile_url %> 
          </li>
          <% unless logged_in? -%>
            <li> Log in for</li>
          <% end -%>
          <li> <%= link_to_if(logged_in?, "More export options", layer_path(:id=> @layer,:anchor=>"Export_tab")) -%> </li>

        </ul>


        <% end %>
        <div style="clear:both;"></div>
      </div>
      <div id="export_window_foot" style="display: block;">
        MapWarper
      </div>
    </div>
  </div>
</div>
