<div id="nav">
  <a href="/"><%= t('.home') %></a> |
  <%= link_to t('.add_map'), new_map_path %> |
  <a href="/about.htm"><%= t('.about') %></a> |
  <a href="/help.htm"><%= t('.help') %></a> |
  <%= link_to t('.terms'), terms_path %> |
  <%= t('.supported_by_html') %>
</div>

