<div id="nav">
  <%= link_to t('.home'), :root %> |
  <%= link_to t('.add_map'), new_map_path %> |
  <%= link_to t('.about'), about_path %> | 
  <%= link_to t('.help'), help_path %> | 
  <%= link_to t('.privacy'), privacy_path %> | 
  <%= t('.supported_by_html') %>
</div>

