<div class="user_status">
  <% if logged_in? %>
    Logged in as:
    <%= link_to h(current_user.login.capitalize), user_path(current_user) %>
    <%= link_to "My Maps", my_maps_path(current_user) %>
    <%= link_to "My Activity", user_activity_path(current_user) %>
    <%= link_to "Settings", edit_user_path(current_user) %>
    <%= link_to "Log Out", logout_url %>
  <% else %>
    <%= link_to "Sign In", new_session_path %>
    <%= link_to "Create Account", new_user_path %>
  <% end %>
  <% if logged_in? %>
    <% if current_user.has_role?("administrator") || current_user.has_role?("super user") %>
      <br />
      <%= link_to "All Maps", maps_path %>
      <%= link_to "All Layers", layers_path %>
      <%= link_to "All Activity", activity_url %>
      <%= link_to "All Comments", url_for(:controller => "comments", :action => "index") %>
      <%= link_to "Groups", groups_path %>
      <%= link_to "Administer Users", users_path %>
    <% end %>
  <% end %>
</div>
