<div id="container">

  <div id="left-col">
    <div id="video-intro" class="paraMargin">
      <h2>Overview</h2>
      <p>Find maps and other imagery, upload, and rectify against a real map.</p>
      <p>You can then download and use the rectified map in your mapping applications.</p>
      <p>Just sign up and you can start uploading and get warping!</p>

      <%= link_to "Upload Map!", new_map_path , :class => "buttonWarper"-%>

    </div>

    <div class="paraMargin">
      <h2>What is it?</h2>
      <p>It's a free to use, open source map warper / map georectifier, and image georeferencer tool. This project is supported by <a href="http://topomancy.com">Topomancy LLC</a> and the <a href="http://maps.nypl.org">New York Public Library</a>.
      </p>
      <p>Mail me at tim@geothings.net for more information!</p>
    </div>

    <div id="tag-cloud" class="paraMargin">
      <h3><%= t('.tags') %></h3>
      <p class="tagCloudLink">
        <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
          <%= link_to tag.name, { :controller=>:maps, :action => :tag, :id => tag.name }, :class => css_class %>
        <% end %>
      </p>
    </div>

    <div id="news" class="paraMargin">

      <h3><%= t('.news') %></h3>
      <% cache "news_feeds" do %>
        <table>
          <% @feeds.each do |feed| %>
            <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
              <td class="list-item">
                <p>
                  <%= link_to(feed[:title], feed[:link], :title => t('.click_news'), :target => "_blank") %>
                  <br />
                  <span class="news-description">
                    <%= snippet(feed[:description], 30).html_safe %>
                    <%= link_to(t('.more'), feed[:link], :title => t(".more"), :target => "_blank", :class => "readMore") %>
                  </span>
                </p>
              </td>
            </tr>
          <% end unless @feeds.nil?%>
        </table>
      <% end %>

    </div>

  </div>
  <div id="right-col">
    <div id="search-form">
      <%= render :partial => 'shared/search' -%>
      <br/>
      <p class="browseButtonBlock">
        <%= link_to t(".all_maps"), maps_path, :class => "buttonWarper" %>
      </p>
    </div>

    <div id="map_list">


      <% if @my_maps -%>
        <h3><%= t('my_maps') %></h3>
        <table id="map_table" cellpadding="3">
          <thead>
            <tr>
              <th><%= t('map_th') %></th>
              <th><%= t('title_th') %></th>
              <th><%= t('year_th') %></th>
              <th><%= t('last_th') %></th>
              <th><%= t('status_th') %></th>
            </tr>
          </thead>
          <%= render :partial => 'maps/map', :collection => @my_maps  unless @my_maps.nil? %>
        </table>
        <%= link_to t(".all_my_maps"), my_maps_path(:user_id => current_user), :class => "buttonWarper" -%>
      <%end -%>

      <br/>

      <h3><%= t('.rect_maps') %></h3>

      <table id="map_table" cellpadding="3">
        <thead>
          <tr>
              <th><%= t('map_th') %></th>
              <th><%= t('title_th') %></th>
              <th><%= t('year_th') %></th>
              <th><%= t('last_th') %></th>
              <th><%= t('status_th') %></th>
          </tr>
        </thead>
        <%= render :partial => 'maps/map', :collection => @maps unless @maps.nil? %>
      </table>

      <%= link_to t(".see_maps"), maps_path, :class => "buttonWarper" %>

    </div>

    <div id="layer_list">

      <h3><%= t('.recent_layers') %></h3>
      <table id="layer_table" cellpadding="3">
        <thead>
          <tr>
            <th><%= t('layer_th') %></th>
            <th class="widthTh"><%= t('title_th') %></th>
            <th><%= t('year_th') %></th>
            <th><%= t('last_th') %></th>
            <th><%= t('num_th') %></th>
            <th><%= t('percent_th') %></th>
          </tr>
        </thead>
        <%= render :partial => 'layers/layer', :collection => @layers unless @layers.nil? %>
      </table>
      <%= link_to t(".view_layers"), layers_path, :class => "buttonWarper" %><br />
      <%= link_to t(".create_layer"), new_layer_path, :class => "buttonWarper" %>
    </div>

  </div>
  <div class="clear"></div>
</div>
