<%= form_for @import do |f| %>
  <%= render "shared/error_messages", :target => @import %>

  <p>
    <b><%= f.label :name, t('.name_label')  %></b> <br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%= f.label :layer_ids, t('.layers_label') %></b> <br />
    <%= f.collection_select(:layer_ids, Layer.all, :id, :name, {}, {:multiple => true}) %>
  </p>

  <p>
  <label for="metadata"><b><%= t('.metadata') %></b></label> <br />
  (<a href="/api/v1/#imports"><%= t('.metadata_hint') %></a>)<br />
    <%= f.file_field :metadata %>
  </p>

  <br />
  <p>
  <%= t('.create_hint') %></p>
  <%= f.submit((defined?(page) && page =~ /new/) ? t('common.create_button') : t('common.update_button') )%>
<% end  %>

<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery('#import_layer_ids').select2();
  });
</script>
