<%= form_for @import do |f| %>

<div>
  Add a new series of maps from Wikimedia Commons. Add a Commons Category and this import will import all "Files". It can create a new layer / mosaic. You can specify if the maps should be appended into an already existing mosaic/layer. Maps that already exist with the same pageid will not be overwritten or duplicated.
</div>
<br />
<table>
  <tr>
  <td><%= f.label :category, "Commons Category (for example 'Category:Maps of 2023')"  %></td>
  <td>  <%= f.text_field :category %></td>
  </tr>
  
  <tr>
  <td>  <%= f.label :save_layer, "Save maps to a new or existing layer." %></td>
  <td><%= f.check_box  :save_layer %></td>
  </tr>
  
  <tr>
  <td><%= f.label :append_layer, "Append maps to existing layer if one exists with the same category." %></td>
  <td><%= f.check_box :append_layer %></td>
  </tr>
</table>

  <%= f.submit((defined?(page) && page =~ /new/) ? "Create" : "Update" )%>
<% end  %>
