<tr class="<%= cycle('table0', 'table1') -%>">
  <td><%= link_to(import.id.to_s, import_path(import.id)) %> </td>
  <td><%= link_to(import.category, import_path(import.id)) %> </td>
  <td><%= link_to("User:#{import.user.id} #{import.user.login}", user_path(import.user.id), :method => :get)  -%></td>
  <td><%= time_ago_in_words(import.created_at) -%> ago</td>
  <td><%= import.status  %> </td>
  <td><%= link_to(pluralize(import.maps.count, 'maps'), maps_import_path(import.id)) if import.status == :finished%></td>
  <td>    
    <% if import.finished_at %>
        <%= time_ago_in_words(import.finished_at) -%> ago
    <% end %>
  </td>
</tr>
