<% content_for :head do %>
  <%= javascript_include_tag 'select2/select2.min' %>
  <%= stylesheet_link_tag 'select2/select2.min' %>
  <script type="text/javascript" charset="utf-8">
    jQuery.fn.select2.defaults.set('language', '<%= I18n.locale.to_s %>');
  </script>

<% end %>  


<h2><%= t('.header') %></h2>

<%= render :partial => "form" %>
