<h2><%= t('.header') %></h2>

<h3><%= t('.maps_csv_header') %></h3>
<%= link_to t('.maps_csv_file'), csv_maps_url %>

<h3><%= t('.gcps_csv_header') %></h3>
<%= link_to t('.gcps_csv_file'), csv_gcps_url %>