<h2><%= t('.header') %></h2>
<h3><%= t('.csv_header') %></h3>
<%= link_to t('.csv_link'), bulk_import_gcps_url%>
<hr />
<h3><%= t('.maps_header') %></h3>
<%= link_to t('.maps_link'), new_import_url %>
<%= will_paginate @imports %>
<table class="usertable">
  <thead>
    <tr>
      <th><%= t('.id') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.maps') %></th>
      <th><%= t('.layers') %></th>
      <th><%= t('.user') %></th>
      <th><%= t('.created') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "import", :collection => @imports %>
  </tbody>
</table>
<%= will_paginate @users %>

