<h2><%= t('.header', :name => @import.name ) %></h2>

<p>
  <%= t('.created', :created_at => @import.created_at.to_s(:long)) %>
  
  <%= link_to(( @import.user.login), user_path(@import.user.id), :method => :get)  -%></p>

<%= render :partial => 'layers' %>

<h3><%= t('imports.index.maps') %></h3>
<div id="map_table_div">
  <table cellpadding="3" id="map_table">
    <thead>
      <tr>
        <th><%= t('common.map_th') %></th>
        <th><%= t('common.title_th') %></th>
        <th><%= t('common.year_th') %></th>
        <th><%= t('common.last_th') %></th>
        <th><%= t('common.status_th') %></th>
        <th><%= t('imports.index.actions') %></th>
      </tr>
    </thead>

    <tbody id="results">
      <%= render :partial => 'maps/map', :locals => {:page => "import"}, :collection => @maps unless @maps.nil? %>
    </tbody>
  </table>
  <div class="warper_pagination">
    <div id="search-pagination-bottom">
      <%= will_paginate @maps %>
    </div>
  </div>
</div>