<h2>Import:
  <%=@import.category %>
  Maps</h2>
<p>Created:
  <%= @import.created_at.to_s(:long) %>
  by
  <%= link_to(( @import.user.login), user_path(@import.user.id), :method => :get)  -%></p>

<% if @import.layer %>
<%= link_to(@import.layer.name, layer_path(@import.layer)) %>
<% else %>
Maps not added to a Mosaic
<% end %>

<h3>Maps</h3>
<div id="map_table_div">
  <table cellpadding="3" id="map_table">
    <thead>
      <tr>
        <th>Map</th>
        <th>Title</th>
        <th>Last modified</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody id="results">
      <%= render :partial => 'maps/map', :collection => @maps unless @maps.nil? %>
    </tbody>
  </table>
  <div class="warper_pagination">
    <div id="search-pagination-bottom">
      <%= will_paginate @maps %>
    </div>
  </div>
</div>