<%= link_to "&lt; Browse imports".html_safe, imports_path %>

<h2>Import:
  <%= @import.id %></h2>
<h3>
  <%= @import.category %>
</h3>
<p><%= link_to "View '#{@import.category}' on Wikimedia Commons", "https://commons.wikimedia.org/wiki/#{@import.category}" %> </p> 
</br>
<p>Created:
  <%= @import.created_at.to_s(:long) %>
  by
  <%= link_to(( @import.user.login), user_path(@import.user.id), :method => :get)  -%></p>
<p>Status:
  <b><%= @import.status %>
  </b>
</p>
<% if @import.status == :ready %>
  <p>
    <% if @import.save_layer %>
      Maps will be added to a new or existing mosaic
    <% else %>
      Maps will not be added to new or any existing mosaic
    <% end %>
  </p>
<% end%>
<% if @import.status == :finished %>
  <p>
    <b>Maps</b>:
    <%= link_to(pluralize(@import.maps.count, 'Map'), maps_import_path(@import.id)) %>
    <p>
      <p>
        <b>Mosaic</b>:
        <% if @import.layer %>
          <%= link_to(@import.layer.name, layer_path(@import.layer)) %>
        <% else %>
          Maps not added to a mosaic.
        <% end %>
      </p>
  <% end %>
    <br/>

    <div>
      <% if @import.status == :ready %>
        <%= link_to 'Edit this import', edit_import_path(@import) %><br/>
      <% end %>
        <% if @import.status != :running %>
        <%=  link_to 'Delete this import (Does not delete maps)' ,{:controller=>"imports", :action =>"destroy", :id => @import},  :method => :delete, :data => { :confirm => "Are you sure?" } %>
        <br/>
      <% end %>
      <% if @import.status == :ready %>
        <div id="import_count">
          <% if @count -%>
            Count of files from Commons Cateogry: 
            <%= @count %>
            <% if @count == 0 %>
              No files found! This may mean that the category is missing or mispelt.
            <% end %>
          <% end %>
        </div>
        <%= link_to('START IMPORT', start_import_path(@import), :data => {:confirm => "Ready to Start this import?"}, :class=>"buttonWarper") %>
        <% else%>
          <% if @import.status == :running %>
            <span class="mapstatus">This import is still running, depending on the number of maps it may take some time.</span>
          <% end %>
      <% end  %>
    </div>