<%= link_to "&lt; Browse imports".html_safe, imports_path %>

<h2><%= t('.header', :import_name => @import.name ) %></h2>

<p><%= t('imports.maps.created', :created_at => @import.created_at.to_s(:long) ) %> <%= link_to(( h @import.user.login), user_path(@import.user.id))  -%></p>
<p><%= t('imports.index.status') %>: <b><%= @import.status %> </b></p>

<%= render :partial => 'layers' %>

<% if @import.status == :finished %>

  <h3><%= t('imports.index.maps') %></h3>
  <p>
    <%= link_to(t('common.map_count', count: @import.maps.count), maps_import_path(@import.id)) %>
  </p>

<% end %>


<div class="import-actions">
  <% if @import.status == :ready %>
    <%= link_to t('.edit'), edit_import_path(@import) %>
    <br/>
  <% end %>

  <% if @import.status != :running %>
    <%=  link_to t('.delete') ,{:controller=>"imports", :action =>"destroy", :id => @import},  :method => :delete, :data => { :confirm => t('.delete_confirm') } %>
    <br/>
  <% end %>

  <% if @import.status == :ready %>
    <div class="file_count">
      <%= t('.count_files') %>  <%= @import.file_count  %>
    </div>

    <%= link_to(t('start_button'), start_import_path(@import), :data => {:confirm => t('.start_confirm')}, :class=>"buttonWarper") %>

  <% else %>

    <% if @import.status == :running %>
      <div class="mapstatus">
        <%= t('.import_is_running') %> <br />
        <%= link_to(t('.view_running_status'), start_import_path(@import)) %>
      </div>
    <% end %>

    <div class="imported_count">
      <%= t('.imported_count') %> <%= @import.imported_count  %>
    </div>

    <div class="log">
      <%= t('.view_log_file') %> <%= link_to(@import.log_filename, log_import_path(@import), :target => :new)  %>      
    </div>

  <% end  %>
</div>
