<script type="text/javascript">
  var keepOnPolling = true;
  function pollServer() {
    if (keepOnPolling) {
      jQuery.ajax({
        method: 'get',
        url: '<%= status_import_path(@import)%>',
        dataType: 'json',
        success: function(json) {
          
          if (json.status == "finished") {
            keepOnPolling = false;
            jQuery('#afterImport').show();
            jQuery('#spinner').hide();
          }
          jQuery('#updateMe').html("<%= t('.status')  %>: "+ json.status + " <%= t('.imported_count')  %>: " + json.count );
        },
        error: function() {
          keepOnPolling = false;
          jQuery('#updateMe').html("<%= t('.error') %>");
          jQuery('#spinner').hide();
        }
      });
    } else {
      jQuery('#spinner').hide();
    }
  }

  jQuery(document).ready(function() {
    jQuery('#afterImport').hide();
    jQuery('#spinner').show();
    var myvar = setInterval(pollServer, 4000);

  });

</script>

<h2><%= t('.header') %></h2>

<span id="spinner" style="display:none;"><%= image_tag 'spinner-horiz.gif' %></span>
<%= t('.progress') %><br />
<div id="updateMe">
  <%= t('.importing') %>
</div>
<div id="afterImport">
  <h3><%= t('.finished_notice') %></h3>
 <%= t('.view') %>: <%= link_to(( h @import.name), import_path(@import.id)) %>
</div>