<table class="activity-table">
  <tr>
    <th><%= t('audits.show.time') %></th>
    <th><%= t('audits.show.user') %></th>
    <th></th>
    <th><%= t('audits.show.summary') %></th>
    <th><%= t('audits.show.version') %></th>

    <th></th>
  </tr>
  <%= render :partial => "audit", :collection => @audits unless @audits.nil? %>
</table>
