<%= link_to "&lt; Back", :back %>
<h2> <%= @title %> </h2>

<%=image_tag 'feed-icon-14x14.png' -%> <%= link_to 'RSS Feed' , 'http://'+ request.host_with_port + request.path + '.rss' %>&nbsp;
<% if @linktomap %><%= link_to "Show Just Map Activity", :controller=>"maps", :action=>"activity" %><% end %>
<br /><br />

<%= will_paginate @audits %>

<%= render :partial => 'audit_table', :object => @audits %>

<%= will_paginate @audits %>
