<%= link_to "&lt; Back".html_safe, :back -%>

<h2>Activity Detail</h2>
<table class="activity-table">
  <tr>
    <th>Time</th>
    <th>User</th>
    <th></th>
    <th>Activity Summary</th>
    <th>Version</th>

    <%= render :partial => 'audit', :object => @audit, :locals => {:page => 'detail'} %>
    <th></th>
  </tr>
</table>

<h3>Details</h3>
<table  class="activity-details">
  <thead>
  <th>Item&nbsp;</th>
  <th>Value</th>
</thead>
<% @audit.audited_changes.each do |key, value| -%>
  <tr>
    <td><%= key-%> </td>
    <% if value.class == Array %>
      <td><%="#{value[0] || "nil"} -> #{value[1]}" %></td>
    <% else %>
      <td><%= value -%> </td>
    <% end %>
  </tr>
<% end if @audit.audited_changes -%>

</table>
