<%= link_to ("&lt;"+ t('common.back_link')).html_safe, :back -%>

<h2><%= t('.header') %></h2>
<table class="activity-table">
  <tr>
    <th><%= t('.time') %></th>
    <th><%= t('.user') %></th>
    <th></th>
    <th><%= t('.summary') %></th>
    <th><%= t('.version') %></th>

    <%= render :partial => 'audit', :object => @audit, :locals => {:page => 'detail'} %>
    <th></th>
  </tr>
</table>

<h3><%= t('.details_header') %></h3>
<table  class="activity-details">
  <thead>
  <th><%= t('.item') %>&nbsp;</th>
  <th><%= t('.value') %></th>
</thead>
<% @audit.audited_changes.each do |key, value| -%>
  <tr>
    <td><%= key-%> </td>
    <% if value.class == Array %>
      <td><%="#{value[0] || "nil"} -> #{value[1]}" %></td>
    <% else %>
      <td><%= value -%> </td>
    <% end %>
  </tr>
<% end if @audit.audited_changes -%>

</table>
