<h2> <%= t('maps.comments.header') %> </h2>
<%unless @comments.empty? -%>
  <%= render :partial => 'comments/comment', :collection => @comments %>
<% else -%>
  <%= t('.no_comments') %> <br />
<% end -%>
<% if user_signed_in? %>
  <%= render :partial => 'comments/comment_form', :object => @layer, as: 'comment_obj' -%>
<% else -%>
  <%= link_to t('maps.comment.login'),new_session_path %> 
<% end -%>
