<div class="export-tab-container">
<h2><%= t('.header') %></h2>
<ul>
  <li>
  <%= t('maps.export.wms') %>: <%=link_to(t('maps.export.wms_link'), :action => "wms", :id => @layer, :request => "GetCapabilities", :service => "WMS", :version => "1.1.1") %>  <br />
   <% josm_url = url_for(wms_layer_url(:id => @layer)) + "?request=GetMap&version=1.1.1&styles=&format=image/png&srs={proj}&exceptions=application/vnd.ogc.session.inimage&width={width}&height={height}&BBOX={bbox}&" %>
    <%= link_to(t('maps.export.josm_link'), josm_url) %> <br />
  </li>
  <li>
  <% tile_url = "#{tile_layer_base_url(:id => @layer.id)}/{z}/{x}/{y}.png" %>
    <%= t('maps.export.tiles') %>: <%= tile_url %>
  </li>
  <li>
    KML: <%= link_to(t('maps.export.kml_link'), layer_url(:id => @layer, :format=>:kml)) %>
  </li>
  <li>
    <%= t('maps.export.bibliographic') %>:  <%= link_to t('maps.export.bibliographic'), "http://example.com" -%>
  </li>
</ul>
<br />
</div>
