<h2>Mosaic</h2>
<ul>
  <li>
  WMS: <%=link_to "WMS Capabilties URL", :action => "wms", :id => @layer, :request => "GetCapabilities", :service => "WMS", :version => "1.1.1"  %>  <br />
   <% josm_url = url_for(wms_layer_url(:id => @layer)) + "?request=GetMap&version=1.1.1&styles=&format=image/png&srs={proj}&exceptions=application/vnd.ogc.session.inimage&width={width}&height={height}&BBOX={bbox}&" %>
    <%= link_to("WMS link suitable for JOSM OpenStreetMap Editor", josm_url) %> <br />
  </li>
  <li>
  <% tile_url = url_for(tile_layer_url(:x => "{X}",:y => "{y}", :x => "{x}", :z => "{z}", :format =>"png")) %>
    Tiles (Google/OSM scheme): <%= URI.unescape(tile_url) %>
  </li>
  <li>
    KML: <%= link_to("Download KML", layer_url(:id => @layer, :format=>:kml)) %>
  </li>
  <li>
    Bibliographic:  <%= link_to 'biblio record', "http://example.com" -%>
  </li>
</ul>
<br />
