<% if @page == "for_map" %>
  <table>
    <%= render :partial => 'maps/map_detail', :object => @map %>
  </table>
  <div id="search-title"><%= @html_title -%>
  </div>
<% else %>

  <div id="search-form">

    <% form_tag url_for(:controller => "layers"), :id=>"searchform",:name=> "searchform", :method => :get do -%>
      Search
      <select id="field" name="field">
        <%= options_for_select([ ["Title", "name"],
            ["Description", "description"]], @field)-%>
      </select>
      for
      <%= text_field_tag 'query', @query -%>
      <input type="submit" value=" Go " />
    <% end %>
      <br/>
       New: <%= link_to 'Find Layers by Location',  url_for(:controller => 'layers', :action=>'geosearch', :class => "buttonWarper")%>
  </div>

  <h2><%= @html_title -%>
    <%if @query && @query.length > 0 %>&mdash; Searched for "<%=@query%>"
    <%end-%>
  </h2>

<%end%>
<div id="search-sort">
  Sort:&nbsp;
  <%= sort_header_tag('name', :title => "Title") %> |
  <%= sort_header_tag('depicts_year', :title => "Year") %> |
  <%= sort_header_tag('updated_at', :title => "Last Updated") %> |
  <%= sort_header_tag('maps_count', :title=> "Number of Maps") %> |
  <%= sort_header_tag('percent', :title => "Percent Complete") %> |
</div>
<div class="warper_pagination">
  <div id="search-pagination-top">
    <%= will_paginate @layers %>
  </div>
</div>

<div id="layers-div">
  <table id="layer_table" cellpadding="3">
    <thead>
      <tr>
        <th>Layer</th>
        <th class="thWidth">Title</th>
        <th>Year</th>
        <th>Number of Maps</th>
        <th>Percentage Complete</th>
      </tr>
    </thead>
    <tbody id="results">
      <%= render :partial => 'layer', :collection => @layers unless @layers.nil? %>
    </tbody>

  </table>
</div>
<div class="warper_pagination">
  <div id="search-pagination-bottom">
    <%= will_paginate @layers %>
    <div class="per_page_select">
       <%= page_entries_info @layers %>&nbsp;<%= select_tag :per_page, options_for_select([10,20,50,100], @per_page.to_i), :onchange => "if(this.value){reload_with_page(this.value)};" %> per page.
    </div>
  </div>
</div>

