<h2>Merge Mosaic <span class="admin-only">(admins only)</span></h2>
<p>
Merge this mosaic with another. <br />
Deletes the reference of <%= pluralize @layer.maps_count,'map' -%>  from Mosaic <%=@layer.id %> and moves them onto the specified destination mosaic.<br />
This cannot be undone!
</p>
<table>
  <tr>
    <td><%= image_tag(@layer.thumb) %></td>
    <td>Mosaic <%=@layer.id%> : <%= link_to h(@layer.name),  layer_path(@layer) -%>
    </td>
  </tr>
</table>

Move all <%= pluralize @layer.maps_count,'map' -%> to this mosaic:

<%= form_for :layer, :url=> { :action=>"merge"},
  :html => {:method => :put } do |f| %>
    <%= f.hidden_field :id %>
    <label for="dest_id">Destination Layer</label>
    <%= text_field_tag :dest_id %>
    <br />
    <%= submit_tag 'Merge Mosaic!', :data => {:confirm => "Are you sure, this cannot be undone?"} %>
  <%end-%>

