<h2><%= t('.header') %><span class="admin-only"><%= t('.admin_only') %></span></h2>
<p>
<%= t('.help_html', :count_maps => pluralize(@layer.maps_count, t('map')), :layer_id => @layer.id ) %>
</p>
<table>
  <tr>
    <td><%= image_tag(@layer.thumb) %></td>
    <td><%= t('layer') %> <%=@layer.id%> : <%= link_to h(@layer.name),  layer_path(@layer) -%>
    </td>
  </tr>
</table>

<%= t('.move_all', :count_maps => pluralize(@layer.maps_count, t('map')) ) %>

<%= form_for :layer, :url=> { :action=>"merge"},
  :html => {:method => :put } do |f| %>
    <%= f.hidden_field :id %>
    <label for="dest_id"><%= t('.destination') %></label>
    <%= text_field_tag :dest_id %>
    <br />
    <%= submit_tag t('.merge_button'), :data => {:confirm => t('.confirm')} %>
  <%end-%>

