<h2><%= t('.header') %></h2>

<div class="column span-12">
  <p>
    <b><%= t('.name') %></b> <br />
    <%= @layer.name %>
  </p>
  <p>
    <b><%= t('.description') %></b><br />
    <%= @layer.description %>
  </p>
  <p>
    <b><%= t('layers.form.source') %></b><br />
    <%= @layer.source_uri %>
  </p>
</div>
<span>
  <span id="depicts-year-span">
    <%= t('.depicts_year') %>  : <%if @layer.depicts_year%><%= @layer.depicts_year %><%end%>
  </span>
</span>
<div style="clear: both;"></div>
