<%=render :partial => 'layers/layermap', :object => @layer unless @layer.rectified_maps_count  < 1 || !@layer.is_visible?%>
<h3><%= t('.maps') %> <span id="view-maps-index-link"></span></h3>
<div class="warper_pagination">
  <div id="search-pagination-top">
    <%= will_paginate @maps %>
  </div>
</div>

<div id="loading-spinner" style="width:100px;margin-left:auto;margin-right:auto" class="hidden"><%= t('.loading') %> <br /><%= image_tag "spinner.gif" %> </div>
<div id="map_table_div">
  <table id="map_table" cellpadding="3">
    <thead>
      <tr>
        <th><%= t('common.map_th') %></th>
        <th><%= t('common.title_th') %></th>
        <th><%= t('common.year_th') %></th>
        <th><%= t('common.last_th') %></th>
        <th><%= t('common.status_th') %></th>
      </tr>
    </thead>

    <tbody id="results">
      <%= render :partial => 'maps/map', :collection => @maps unless @maps.nil? %>
    </tbody>
  </table>
  <div class="warper_pagination">
    <div id="search-pagination-bottom">
      <%= will_paginate @maps %>
    </div>
  </div>
</div>

<%= link_to(t('.new_link'), new_layer_url) %>
