<h2><%= t('.header', :username => @user.login.capitalize) %></h2>

<h3><%= t('.assigned') %></h3>
<ul><%= render :partial => "role", :collection => @user.roles %></ul>

<h3><%= t('.available') %></h3>
<ul><%= render :partial => "role", :collection => (@all_roles - @user.roles) %></ul>
