<%= link_to t('.back').html_safe, bulk_import_gcps_url%>
<h2><%= t('.header') %></h2>
<div class="help">
<% if gcps.blank? %>
  <%= t('.nothing_imported') %>
<% else %>
  <%= t('.gcps_imported', :count => gcps.size) %>
<% end %>
</div>

<% unless gcps.blank? %>
<table id="map_table">
  <thead>
    <th><%= t('.id') %></th>
    <th><%= t('.map') %></th>
    <th><%= t('.x') %></th>
    <th><%= t('.y') %></th>
    <th><%= t('.lon') %></th>
    <th><%= t('.lat') %></th>
  </thead>
  <tbody>  
<% gcps.each do | gcp | %>
    <tr>
      <td><%= gcp.id %></td>
      <td><%= link_to "Map #{gcp.map_id}", map_path(gcp.map_id) %></td>
      <td><%= gcp.x %></td>
      <td><%= gcp.y %></td>
      <td><%= gcp.lon %></td>
      <td><%= gcp.lat %></td>
    </tr>
<% end %>
  </tbody>  
</table>

<% end %>