<%= link_to t('.back').html_safe, imports_path %>
<h2><%= t('.header') %></h2>

<div class="help">
  <%= t('.help_html') %>
</div>

<h3><%= t('.new_import_header') %></h3>
<div class="help">
  <%= t('.import_help_html') %>
</div>

<%= form_tag add_many_gcps_url, multipart: true, :id => "upload_csv_form" do %>
  <label for="file"><%= t('.csv_file') %></label>
  <%= file_field_tag :file %><br />
  <%= submit_tag t('.button') %>
<% end %>