<p><%= t('.greeting') %> <%= @email %></p>

<p><%= t('.intro', :site_name => APP_CONFIG['site_name']) %> </p>

<p>
  <%= t('.about_site', :site_name => APP_CONFIG['site_name']) %>
</p>

<p><%= t('.click_the_link') %></p>

<p><%= link_to t('.confirm_button'), confirmation_url(@resource, confirmation_token: @token) %></p>
