<p><%= t('.greeting') %> <%= @resource.email %>!</p>

<p><%= t('.intro') %></p>

<p><%= link_to t('.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.please_ignore') %></p>
