<!DOCTYPE html>
<html>
  <head>
    <title><%= h(@html_title) || ''-%> Map Warper</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Sorts+Mill+Goudy|Vidaloka' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "openlayers/2.8/OpenLayers-2.8/OpenLayers" %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>
  <% if @onload -%>
    <body onload="<%=@onload%>">
  <%else-%>
    <body>
  <%end%>
    <div id="headerDiv" class="headerDiv">
      <h1><%= link_to "Map Warper", root_path %></h1>
      <%= render :partial => 'shared/header' %>
      <%= render :partial => 'shared/nav' %>
    </div>
    <%= breadcrumbs "application" %>
    <div id="warper-maindiv">

      <%= flash_messages %>

      <%= yield %>
    </div>

    <div id="footer">
      <%= render :partial => 'shared/footer' %>
    </div>

    <%= render :partial => 'shared/analytics' %>


  </body>
</html>
