<%= yield :head %>
<%= javascript_tag @onload -%>
</head> 
<script type="text/javascript">
  var xhrFlag = "<%=@xhr_flag%>";
</script> 
<%= flash_messages %>
<%= yield %>

<div id="analytics-bottom">
  <%= render :partial => 'shared/analyticsbottom',
    :locals => {
    :layer => @layer,
    :current_tab => @current_tab
  } %>
</div>
