<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Map Warper: <%= h(snippet(@html_title, 40)) || ''-%> </title>
    <%= stylesheet_link_tag "custom-theme/jquery-ui-1.7.custom.css" %>
    <%= stylesheet_link_tag "openlayers/theme/default/style" %>
    <%= stylesheet_link_tag "styles_1" %>
    <%= stylesheet_link_tag "tabs" %>
    <%= javascript_include_tag "jquery-1.3.2.min.js" %>
    <%= javascript_tag "jQuery.noConflict();" -%>
    <%= javascript_include_tag "jquery-ui-1.7.custom.min.js" %>
    <%= javascript_include_tag "jquery.history.js" %>
    <%= javascript_include_tag "jquery-warper" -%>
    <%= javascript_include_tag "prototype" %>
    <!--
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%=GOOGLE_MAPS_KEY-%>"
            type="text/javascript"></script>
    -->
    <%= javascript_include_tag "openlayers/2.8/OpenLayers-2.8/OpenLayers" %>
    <%# javascript_include_tag "openlayers/OpenLayers-dev" -%>
    <%= javascript_include_tag "layers" %>

        <script type="text/javascript">
          OpenLayers.ImgPath = '<%=request.protocol + request.host_with_port + ActionController::Base.relative_url_root.to_s%>/javascripts/openlayers/img/';
          var addthis_share =  {  templates: { twitter: '{{url}} (from @<%=ADDTHIS_TWITTER_USER%>)' } };
          var addthis_config = {  ui_click : true    };


      jQuery(function() {
        jQuery("#wooTabs").tabs({selected:<%=@selected_tab||0 %> });
        jQuery("#wooTabs").bind("tabsselect", function(event, ui){
          if (typeof(pageTracker) !== 'undefined'){
            pageTracker._trackEvent("Map", ui.tab.title, '<%=@map.id%>');
          }
        });

        jQuery('#wooTabs').tabs('option', 'cache', true);

        jQuery("#wooTabs").bind("tabsshow", function(event, ui){
          if (ui.panel.id == "Rectify"){
            if (typeof to_map != 'undefined'){
              to_map.updateSize();
              from_map.updateSize();
            }
          }
          if (ui.panel.id == "Preview_Rectified_Map"){
            if (typeof warpedmap != 'undefined') {
              warpedmap.updateSize();
            }
          }

          if (ui.panel.id == "Crop"){
            if (typeof clipmap != 'undefined') {
              clipmap.updateSize();
            }
          }

          if (ui.panel.id == "Show"){
            if (typeof umap != 'undefined'){
              umap.div.style.width = "100%";
              umap.updateSize();
            }
          }
          if (ui.panel.id == "Activity_History"){

          }

    //this xhrFlag should only be present in a ajax response
    //so if its missing, rails has borked and we need to reload page to see tabs
    //  if (typeof xhrFlag == 'undefined') {
    //reload page
    //     location.reload();
    //   }else{
    //do nowt
    //  }

        }); //end tabshow

      });//end jquery function

    </script>
    <script type="text/javascript">
      // PageLoad function
      // This function is called when  1. after calling $.historyInit(); 2. after calling $.historyLoad(); 3. after pushing "Go Back" button of a browser
      var tabSuffix = "_tab"; //suffix to be added to link to stop jumping
      function pageload(hash) {
        if(hash) {
          // restore ajax loaded state
          if(jQuery.browser.msie) {
            // jquery's $.load() function does't work when hash include special characters like aao.
            hash = encodeURIComponent(hash);
          }
          hash = hash.slice(0, -tabSuffix.length)
          jQuery("#wooTabs").tabs("select", hash);
        } else {
          //if there is no hash, wat to do? currently, nothing, as by default it should be displayed tab.
          //show tab  //jQuery("#wooTabs").tabs("select", 0);
        }
      }

      jQuery(document).ready(function(){
        jQuery.historyInit(pageload); //TODO

        // set onlick event for buttons
        jQuery("a[rel='history']").click(function(){
          //
          var hash = this.href;
          hash = hash.replace(/^.*#/, '') + tabSuffix;

          jQuery.historyLoad(hash);
        });
      });
    </script>

    <%= yield :head %>
  </head>
  <% if @onload -%>
    <body onload="<%=@onload%>">
  <%else-%>
    <body>
    <%end%>
    <%= render :partial => 'shared/analyticstop' %>
    <div id="headerDiv" class="headerDiv">
      <h1><%= link_to "Map Warper <span>beta</span>", root_path %></h1>
      <%= render :partial => 'shared/header' %>
      <%= render :partial => 'shared/nav' %>
    </div>
    <%= breadcrumbs %>
    <table id="map_table">
      <%= render :partial => 'maps/map_detail', :object => @map, :locals => {:variety => "detail"} %>
    </table>

    <% @tabs = [{:name=>"show",:divname=>"Show", :label=>"Show", :path=>map_path},
       {:name=>"edit",:divname=>"Edit", :label=>"Edit", :path=>edit_map_path(:id => @map)},
      {:name=>"warp",:divname=>"Rectify", :label=>"Rectify", :path=>warp_map_path(:id => @map)},
      {:name=>"clip",:divname=>"Crop", :label=>"Crop", :path=>clip_map_path(:id => @map)},
      {:name=>"align",:divname=>"Align", :label=>"Align", :path=>align_map_path(:id => @map)},
      {:name=>"warped",:divname=>"Preview_Rectified_Map", :label=>"Preview Map", :path=>warped_map_path(:id => @map)},
      {:name=>"export",:divname=>"Export", :label=>"Export", :path=>export_map_path(:id => @map)},
      {:name=>"metadata",:divname=>"Metadata", :label=>"Metadata", :path=>metadata_map_path(:id => @map)},
      {:name=>"activity",:divname=>"Activity_History", :label=>"Activity",:path=> map_activity_path(:id => @map)},
      {:name=>"comments",:divname=>"Comments", :label=>"Comments", :count=>@map.comments.size.to_s, :path=>comments_map_path(:id => @map)}  ] %>
    <div id="wooTabs">
      <ul>
        <% @tabs.each do |tab| %>
          <% if @current_tab == tab[:name] %>
            <% tab[:path] = "#"+tab[:divname]  %>
            <% @current_tab_divname = tab[:divname] %>
          <% end %>
          <% unless @disabled_tabs && @disabled_tabs.include?(tab[:name]) -%>
           <li><a id="aa<%=tab[:label]%>" rel="history" href="<%=tab[:path]%>" title="<%=tab[:label]%>">
           <span><%=tab[:label]%><% if tab[:count] -%> (<%=tab[:count]-%>)<%end-%></span>
           </a></li>
          <% end -%>
        <% end -%>
      </ul>
      <div id="<%=@current_tab_divname %>" >
        <%= flash_messages %>
        <%= yield %>
      </div>

    </div>

    <div id="panel-under-tabs">

    </div>


    <div id="footer">
      <%= render :partial => 'shared/footer' %>
    </div>

    <%= render :partial => 'shared/analyticsbottom', :locals => {
            :map => @map, :current_tab => @current_tab
          } %>
  </body>
</html>
